<div id="calendar-wrapper" class="cal">
</div>

<script type="text/template" id="full-clndr-template">
	<div class="clndr-controls">
	  <div class="clndr-previous-button">prev</div>
	  <div class="month"><%%= month %> <%%= year %></div>
	  <div class="clndr-next-button">next</div>
	</div>
	<div class="clndr-grid">
	  <div class="days-of-the-week">
	    <%% _.each(daysOfTheWeek, function(day) { %>
	      <div class="header-day"><%%= day %></div>
	    <%% }); %>
	  </div>
	  <div class="days">
	    <%% _.each(days, function(day) { %>
	      <div class="<%%= day.classes %>" id="<%%= day.id %>"><span class="day-number"><%%= day.day %></span></div>
	    <%% }); %>
	  </div>
	</div>
	<div class="events-wrapper">
		<div class="events-header">
			<span>Events This Month</span>
		</div>
		<div class="events">
			<%% _.each(eventsThisMonth, function(event) { %>
              <div class="event-item">
                <div class="event-item-name"><%%= event.title %></div>
                <div class="event-item-location"><%%= event.location %></div>
              </div>
            <%% }); %>
        </div>
	</div>
</script>

<script type="text/javascript">
	
</script>