<div id="invite-modal" class="site-modal guests-modal modal fade" tabindex="-1" role="dialog" aria-labelledby="myMediumModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body clearfixs">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= image_tag(image_path("loading.gif"), class: "loading") %>
        <div id="guests-list-container">
            <div id="attendance-labels-container">
              
            </div>
              <!-- div#attendance-label-container -->
            <div id="guests-list">
            </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>