<!-- <div class="container"> -->
    <nav class="navbar navbar-default navbar-xs navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><span><span class="logo">The Deets</span></span></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="side-divide">&nbsp;</li>
      <li class="new-event-icon"><a href="/events/new"><i id="new-event-icon" class="fa fa-list-alt"></i><i id="" class="fa fa-plus plus-icon" aria-hidden="true"></i>
</a></li>
      <li class="side-divide">&nbsp;</li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
          <li><a href="/events/search">Events</a></li>
          <li class="divider"></li>
          <li><a href="/users/search">Users</a></li>
        </ul>
      </li>
</a></li>
      <li class="side-divide">&nbsp;</li>
      <li><a href="/calendar"><i class="fa fa-calendar" aria-hidden="true"></i></a></li>
      <li class="side-divide">&nbsp;</li>
      <li class="notifications dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-inbox <%= notification_count > 0 ? 'has-notifications' : '' %>" aria-hidden="true"></i>
        </a>
        <ul class="dropdown-menu">
        <li><a href="/notifications">Notifications</a></li>
          <li class="divider"></li>
          <li><a href="/friend_requests">Friend Requests</a></li>
          <li class="divider"></li>
          <li><a href="/invitations">Invitations</a></li>
        </ul>
      </li>
      <li class="side-divide">&nbsp;</li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
          <li id="logged-in-as">
            <div id='nav-current-user' class="clearfixs">
              <img src="<%= current_user.avi.url(:thumb) %>">
              <div class="current-user-username">
                  <%= current_user.username %>
              </div> 
            </div>
          </li>
          <li><a href="/my_events">My Events</a></li>
          <li><a href="/my_items">My Items</a></li>
          <li><a href="#">My Friends</a></li>
          <li class="divider"></li>
          <li><a href="/my_profile/edit">Edit Profile</a></li>
          <li class="divider"></li>
          <li><%= link_to 'Logout',  "/sessions", method: :delete %></li>
        </ul>
      </li>
      <li class="side-divide">&nbsp;</li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
<!-- </div> -->