<div class="container">
    <nav class="navbar navbar-default navbar-xs navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><span><span class="logo"><i class="fa fa-list-alt"></i></span> <span>The Deets</span></span></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/events/new"><i class="fa fa-list-alt new-event-icon"></i></i>
</a></li>
      <li class="side-divide">&nbsp;</li>
      <li><a href="/events/new"><i class="fa fa-search" aria-hidden="true"></i>
</a></li>
      <li class="side-divide">&nbsp;</li>
      <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i></a></li>
      <li class="side-divide">&nbsp;</li>
      <li><a href="#"><i class="fa fa-inbox" aria-hidden="true"></i></a></li>
      <li class="side-divide">&nbsp;</li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;<i class="fa fa-caret-down" aria-hidden="true"></i> </a>&nbsp;
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li class="divider"></li>
          <li><%= link_to 'Logout',  "/sessions", method: :delete %></li>
        </ul>
      </li>
      <li class="side-divide">&nbsp;</li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
</div>