<%= render 'partials/navbar' %>


	<h3 class="text-center">Find an event</h3>
	<form class="form">
		<div id="search-wrapper" class="text-center">
			<input type="text" placeholder='"New Year Big Bash", "Chill and Grill", etc.'>
			<br>
			<input type="text" placeholder='Host of event. For example, "Roro"'>
			<br>
			<button type="submit" class="btn btn-default text-center">
				Search
			</button>
		</div>
	</form>
