<div id="home-container" class="default-container clearfixs">
	<% if flash[:alert] %>
	  <p class="alert alert-danger text-center"> <%= flash[:alert] %></p>
	<% end %>
	
	<div id="column-2">
		<%= render '/partials/calendar' %>
	</div>
		<!-- div#column-2 -->
</div>

<script>
	$(function(){
	  $('#dpt1').fdatepicker({
			format: 'mm/dd/yyyy',
			disableDblClickSelection: true,
		});
	});
</script>
