	<% if flash[:alert] %>
	  <p class="alert alert-danger text-center"> <%= flash[:alert] %></p>
	<% end %>
	<div class="search-wrapper">
		<div class="form-wrapper">
			<h3 class="text-center">Event Search</h3>
			<form class="form" method="POST" action="/events/search">
				<div class="text-center">
					<input type="text" class="search-full" name="event[title]" placeholder='Name of Event'>
					<br>
					<input type="text" class="search-full" name="event[username]" placeholder='Host username. For example, "Roro"'>
					<br>
					<div class="date-wrapper">
						<label>Date</label>
						<input type="date" name="event[date]">
					</div>
					<br>
					<%= tag(:input, :type => "hidden", :name => request_forgery_protection_token.to_s, :value => form_authenticity_token) %>
					<button type="submit" class="btn btn-default text-center search">
						Search
					</button>
				</div>
			</form>
		</div>
	</div>


