<div class="container">
	<div class="page-header">
		<header>
			<h1>Sign Up</h1>
		</header>
	</div>

	<div class="form-container">
		<%= form_for @user do |f| %>
		<div class="text-center">
			<%=	f.text_field :username, placeholder: "Username" %>
		</div>
		<div class="text-center">
			<%= f.password_field :password, placeholder: "Password" %>
		</div>
		<br>
		<div class="text-center">
			<%= f.submit "Sign up" %>
		</div>

		<% end %>
	</div>
</div>
