<div class="welcome-container">
	<div class="row">
		<div class="header-container">
			<div class="icon-container">
				<div class="icon">
					<i class="fa fa-list-alt fa-4x"></i>
				</div>
				<div class="mask_left"></div>
    			<div class="mask_right"></div>
			</div>
			<h1 class="text-center header">The Deets</h1>
			<h5 class="text-center sub-header">A get-together details solution</h5>
			<div class="button-container">
				<button type="button" class="login" data-toggle="modal" data-target="#login-modal">Log In</button><br>
				<button type="button" class="signup" data-toggle="modal" data-target="#signup-modal">Sign Up</button>
			</div>
		</div>
	</div>
</div>

<!-- Modals -->
<%= render "/partials/login" %>
<%= render "/partials/signup" %>

<!-- Pop modals back up if error -->
<% if flash[:login_error] %>
	<script type="text/javascript">
    $(window).load(function(){
        $('#login-modal').modal('show');
    });
</script>
<% end %>

<% if @user.errors.any? %>
	<script type="text/javascript">
    $(window).load(function(){
        $('#signup-modal').modal('show');
    });
</script>
<% end %>