<div class="container">
	<h1 class="text-center">Who's Bringing What?<br><span>(Name in progress...)</span></h1>
	<div class="login-signup-container">
		<a href="/login" class="btn btn-default text-center">Login</a>
		<a href="/signup" class="btn btn-default text-center">Signup</a>
	</div>
</div>