<div id="event-banner-crop" class="text-center default-container">
	<div id="header">
		<span>Drag box sides to manipulate height and width.</span><br>
		<span>Drag box to focus on specific area.</span>
	</div>
		<!-- div#header -->
	<%= form_for(@event, url: "/events/#{@event.id}/banner/crop", method: :patch) do |f| %>
	  <div class="photo-cropbox">
	  	<%= f.cropbox :banner, width: 300 %>
	  </div>
	  <div class="photo-preview">
	  	<%= f.crop_preview :banner, width: 300 %>
	  </div>
	  <div class="submit">
	  	<%= f.submit 'Crop Banner', class: "site-button" %>
	  </div>
	<% end %>
</div>