// google fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:500,400);
@import url(https://fonts.googleapis.com/css?family=Hind);

// Font Variables
$headerFont: 'Roboto', serif;
$hind: 'Hind', Helvetica, sans-serif;

// Colors

$vitaminC: #FF9900;
$route66: #424242;
$steadyGrey: #E9E9E9;
$bc: #BCBCBC;
$gameBlue: #3299BB;
$twitterBlue: #1DA1F2;

// Breakpoints
$break-iphone6: 425px;
$break-sm: 768px;
$break-md: 992px;
$break-lg: 1200px;