// google fonts
@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Hind);
@import url(https://fonts.googleapis.com/css?family=Belleza);

// Font Variables
$mainHeader: 'Fjalla One', sans-serif;
$hind: 'Hind', Helvetica, sans-serif;
$sticker: 'Belleza', sans-serif;

// Colors

$creamWhite: #FFFEC8;
$cirrus: #90B2B1;
$periGreen: #0ABE65;
$sandOrange: #FDB97C;
$asphalt: #424242;
$ashyRed: #F55757;
$cloud: #F1F1F1;
$cobaltBlue: #4095F8;

// Breakpoints
$break-iphone4: 320px;
$break-iphone6: 375px;
$break-iphone6plus: 416px;
$break-sm: 767px;
$break-md: 992px;
$break-lg: 1200px;