/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory

 *= require_self
 */


@import "bootstrap";
@import "variables";
@import "mixins";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "guestsmodal";
@import "invitemodal";
@import "navbar";
@import "welcome";
@import "authmodals";
@import "site-modal";
@import "friendships";
@import "attending_events";
@import "clndr";
@import "calendar";
@import "users";
@import "events";
@import "items";
@import "categories";
@import "notifications";
@import "wickedpicker";
@import "foundation";
@import "jquery.jcrop";

body {
	min-width: 100vw;
	height: 1px;
	min-height: 100vh;
	position: relative;
}

div#layout-wrapper {
	position: relative;
	height: 100%;
	top: 0;
	background-color: $cloud;
	overflow-y: overlay;
}

div.default-container {
	height: 100%;
	background-color: $cloud;
	position: inherit;
	padding-top: 40px;
	@media screen and(max-width: $break-sm) {
		padding-top: 50px;
	}
	@media screen and(max-width: $break-iphone6plus) {
		padding-top: 50px;
	}
}

button, input.submit {
	height: 30px;
}

.textarea {
	resize: none;
}

.dropdown-toggle {
	&:after {
		display: none !important;
	}
}

div.dropdown {
	div.dropdown-menu {
		border-radius: 0% !important;
		font-size: inherit !important;
	}
}

// *********** clearfix container ************

.clearfixs:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfixs             { zoom: 1; } /* IE6 */
*:first-child+html .clearfixs { zoom: 1; } /* IE7 */

// *********** button styles ************

button.site-button, input[type=submit] {
	width: 175px;
	margin: 5px 0;
	border: none;
	border-radius: 1px;
	&:focus {
		outline: none !important;
	}
	&:active {
		@include button-shadow();
		outline: none !important;
	}
}

// ********** flash message styles ***********

div#flash-message-container {
    z-index: 900;
    position: absolute;
    background-color: white;
    top: 50px;
    height: 50px;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    display: none; 
    @include box-shadow(.4);
    div {
	    &.flash-success {
	    	color: $periGreen;
	    }
	    &.flash-error {
	    	color: $ashyRed;
	    }
	}
}
// ********** flash message styles END ***********

// ********** modal styles ***********
	span.input-limit-tracker {
		color: $periGreen;
		display: block;
		position: relative;
		text-align: right;
		font-size: .8em;
	}
// ********** modal styles END ***********