/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory

 *= require_self
 */


@import "bootstrap";
@import "variables";
@import "mixins";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "guestsmodal";
@import "invitemodal";
@import "navbar";
@import "welcome";
@import "authmodals";
@import "site-modal";
@import "clndr";
@import "calendar";
@import "users";
@import "events";
@import "items";
@import "categories";
@import "notifications";
@import "wickedpicker";
@import "foundation";

body {
	min-width: 100vw;
	height: 1px;
	min-height: 100vh;
	position: relative;
}

div#layout-wrapper {
	position: relative;
	height: 100%;
	top: 0;
	background-color: $cloud;
	overflow-y: overlay;
	@media screen and(max-width: $break-sm) {
		padding-top: 50px;
	}
}

div.default-container {
	height: 100%;
	background-color: $cloud;
	position: inherit;
	padding-top: 40px;
	@media screen and(max-width: $break-iphone6plus) {
		padding-top: 0;
	}
}

button, input.submit {
	height: 30px;
}

.textarea {
	resize: none;
}

.dropdown-toggle {
	&:after {
		display: none !important;
	}
}

div.dropdown {
	div.dropdown-menu {
		border-radius: 0% !important;
		font-size: inherit !important;
	}
}

// *********** clearfix container ************

.clearfixs:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfixs             { zoom: 1; } /* IE6 */
*:first-child+html .clearfixs { zoom: 1; } /* IE7 */

// *********** button styles ************

button.site-button, input[type=submit] {
	width: 175px;
	margin: 5px 0;
	border: none;
	border-radius: 1px;
	&:focus {
		outline: none !important;
	}
	&:active {
		@include button-shadow();
		outline: none !important;
	}
}

// ********** flash message styles ***********

div#flash-message-container {
    z-index: 900;
    position: absolute;
    background-color: white;
    top: 40px;
    height: 50px;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    display: none; 
    @include box-shadow(.4);
    div.flash-success {
    	color: $periGreen;
    }
}


// **********************

// ********** modal styles ***********

div.guests-modal {
	& > div.modal-dialog {
		width: 80%;
		max-width: 700px;
		@media screen and (max-width: $break-sm) {
		    margin: 0 auto;
    		top: 20px;
		}
		@media screen and (max-width: $break-iphone6plus) {
		    margin: 0 auto;
		    width: 100%;
		}
		& > div.modal-content {
			border-radius: 0;
			border: none;
			position: relative;
			height: 80px;
			& > button {
				position: absolute;
			}
			& > div.modal-body {
				height: 100%;
				padding: 0;
				button.close {
				    position: absolute;
				    right: 25px;
				    top: 8px;
				    z-index: 1000;
					span {
					}
				}
				img.loading {
					width: 50px;
					height: 50px;
				    margin: 0 auto;
				    @include vertical-align();
				    position: relative;
				    display: block;
				}
				div#guests-list-container {
					height: 100%;
					display: none;
					position: relative;
					div#attendance-labels-container {
						height: 125px;
						border-right: 1px solid $cloud;
						border-bottom: 1px solid $cloud;
						position: absolute;
						width: 100px;
						font-size: 1em;
						top: 0;
						right: 0;
						left: 1px;
						div.bootstrap-select {
							width: 100%;
							display: none;
							button[data-id=attendance-label-select] {
								width: 100%;
								border-radius: 0;
								border: 1px solid $periGreen;
								color: white;
								background-color: $periGreen;
								&:focus {
									outline: none !important;
								}
							}
							div.dropdown-menu {
								border-radius: 0;
							    top: 28px !important;
								ul {
									li {
										outline: none !important;
										&:focus {
											outline: none !important;
										}
									}
								}
							}
							@media screen and(max-width: $break-iphone6plus) {
								display: block;
							}
						} //div.bootstrap-select
						div#attending-label {
							&.label-selected {
								border-bottom: 1px solid $periGreen;
							}
							&:hover {
								border-bottom: 1px solid $periGreen;
							}
						}
						div#declined-label {
							&.label-selected {
								border-bottom: 1px solid $ashyRed;
							}
							&:hover {
								border-bottom: 1px solid $ashyRed;
							}
						}
						div#maybe-label {
							&.label-selected {
								border-bottom: 1px solid yellow;
							}
							&:hover {
								border-bottom: 1px solid yellow;
							}
						}
						div#invited-label {
							&.label-selected {
								border-bottom: 1px solid black;
							}
							&:hover {
								border-bottom: 1px solid black;
							}
						}
						div.attendance-label {
							margin: 0 auto;
							padding: 5px;
							border-bottom: 1px solid white;
							&:hover {
								cursor: pointer;
								background-color: $cloud;
							}
							&.label-selected {
								background-color: #f9f9f9;
							}
							@media screen and (max-width: $break-iphone6plus) { 
								display: none;
							}
						}
						@media screen and (max-width: $break-iphone6plus) { 
							width: 200px;
							height: 50px;
							margin: 10px auto;
							border: none;
						}
					} // div#attendance-labels-container
					div#guests-list {
						height: 100%;
						overflow-y: scroll;
						padding: 20px 20px 0px 100px;
						div.guest {
							float: left;
							img.guest-img {
							    width: 80px;
							    height: 80px;
							    display: block;
							    margin: 0 auto;
							    border-radius: 100%;
							    border: 1px solid #e5e5e5;
							}
							div.guest-username {
								width: 120px;
								text-align: center;
								margin: 5px auto;
							}
						}
						@media screen and (max-width: $break-sm) {
							padding: 20px 20px 0px 100px;
						}
						@media screen and (max-width: $break-iphone6plus) {
							width: 240px;
							margin: 0 auto;
							padding: 20px 0px 0px;
						}
					} // div#guests-list
					@media screen and (max-width: $break-iphone6plus) {
						padding-top: 50px;
					}
				} //div#guests-list-container
			} // div.modal-body
			@media screen and (max-width: $break-iphone6plus) {
				height: 100vh !important;
				top: 0;
			}
		} //div.modal-content
		@media screen and (max-width: $break-iphone6plus) {
			top: 0;
		}
	} // div.modal-dialog
}
