div.auth-modal {
	.modal-header {
		border: none;
		padding-bottom: none;
	}
	.modal-title {
		text-align: center;
		font-family: $mainHeader;
		font-size: 50px;
		padding: 0 15px;
	}
	.signup-modal {
		min-height: 400px;
	}
	div.modal-dialog {
		width: 500px;
	}
	div.input-container {
		max-width: 345px;
		margin: 0 auto;
		label {
			color: $ashyRed
		}
		& > div {
			position: relative;
			margin: 10px auto;
			& > div.input-icon	{
				position: absolute;
				left: 1px;
				top: 1px;
				margin: 0;
				height: 32px;
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
				width: 35px;
				background-color: $cloud;
				border-right: 1px solid #B8B8B8;
				i {
					position: absolute;
					left: 9px;
					top: 5px;
					font-size: 1.5em;
					color: $cobaltBlue;
				}
			} //div.input-icon
			& > div.pass-match-container {
				position: absolute;
				right: 1px;
				top: 1px;
				margin: 0;
				height: 32px;
				width: 35px;
				font-size: 1.5em;
				text-align: center;
				i.pass-nomatch {
					color: $ashyRed;
				}
				i.pass-match {
					color: $periGreen;
				}
			}
		}
		input {
			padding-left: 50px;
		}
		div.choose-avi {
			height: 35px;
			text-align: center;
			margin: 20px auto 30px;
			#user_avi {
				visibility: hidden;
			}
			label span {
				display: block;
				padding-top: 6px;
				background-color: white;
				border: 1px solid $periGreen;
				color: $periGreen;
				width: 100px;
				height: 35px;
				&:hover {
					background-color: darken(white, 5);
					cursor: pointer;
				}
			}
			input {
				padding: 0;
				display: hidden;
			}
		}
		div.register-container {
			width: 125px;
			margin: 0;
			margin-left: auto;
		}
		.submit {
			margin-top: 25px;
			margin-bottom: 15px; 
			display: block;
			padding-left: 0;
			text-align: center;
			width: 125px;
			border: none;
			background-color: $ashyRed;
			color: white;
			&.register {
				background-color: $periGreen;
				display: none;
			}
		}
	} // input container
}