div.auth-modal {
	position: relative;
	border-radius: 0;
	.modal-header {
		border: none;
		padding-bottom: none;
	}
	.modal-title {
		text-align: center;
		font-family: $mainHeader;
		font-size: 50px;
		padding: 0 15px;
	}
	.signup-modal {
		min-height: 325px;
	}
	div.modal-dialog {
		width: 500px;
		div.modal-content {
			form#new_user {
				div.errors-container {
					div#error-explanation {
						i {
							display: block;
							margin: 0 auto;
							width: 30px;
							color: $ashyRed;
							font-size: 1.50em;
						}
						ul.list-unstyled {
							li {
								width: 220px;
								margin: 0 auto;
							}
						}
					}
				}
			}
			button.close {
				top: -15px;
				right: -10px;
				position: relative;
			}
		}
	}
	div.input-container {
		max-width: 345px;
		margin: 0 auto;
		label {
			color: $ashyRed;
		}
		& > div {
			position: relative;
			margin: 20px auto 10px;
			&.input-limit-container {
				margin: 0 auto 10px;
			}
			& > div.input-icon	{
				position: absolute;
				left: 1px;
				top: 2px;
				margin: 0;
				height: 32px;
				width: 35px;
				background-color: $cloud;
				border-right: 1px solid #B8B8B8;
				i {
					position: absolute;
					left: 0px;
					right: 0px;
					margin-right: auto;
					margin-left: auto;
					top: 5px;
					font-size: 1.5em;
					color: $cobaltBlue;
					width: 20px;
					&.fa-envelope {
						font-size: 1.20em;
					}
					&.fa-lock {
						width: 16px;
					}
					&.fa-map-marker {
						width: 13px;
					}
				}
			} //div.input-icon
			& > div.pass-match-container {
				position: absolute;
				right: 1px;
				top: 1px;
				margin: 0;
				height: 32px;
				width: 35px;
				font-size: 1.5em;
				text-align: center;
				i.pass-nomatch {
					color: $ashyRed;
				}
				i.pass-match {
					color: $periGreen;
				}
			}
		}
		input {
			padding-left: 50px;
			width: 100%;
			height: 35px;
			border: 1px solid #B8B8B8;
			&:focus {
				outline: none;
				border: 1px solid $cobaltBlue;
			}
		}
		textarea {
			width: 100%;
			height: 80px;
			border: 1px solid #B8B8B8;
			padding: 10px;
			&:focus {
				outline: none;
				border: 1px solid $cobaltBlue;
			}
		}
		div.choose-avi {
			height: 35px;
			text-align: center;
			margin: 20px auto 30px;
			#user_avi {
				visibility: hidden;
			}
			span#filename {
				font-size: .8em;
				bottom: 10px;
				position: relative;
			} //span#filename
			label {
				width: 100px;
				height: 35px;
				span#button-avi {
					background-color: white;
					width: 100%;
					height: 100%;
					padding-top: 8px;
					display: block;
					color: $cobaltBlue;
					font-weight: normal;
					font-size: .85em;
					border: 1px solid $cobaltBlue;
					&:hover {
						cursor: pointer;
						background-color: $cobaltBlue;
						border: 1px solid $cobaltBlue;
						color: white;
					}
					&:active {
						@include button-shadow();
					}
				}
			}
			input {
				padding: 0;
				display: hidden;
			}
		}
		div.register-container {
			width: 125px;
			margin: 0;
			margin-left: auto;
		}
		.submit {
			margin-top: 25px;
			margin-bottom: 15px; 
			display: block;
			padding-left: 0;
			text-align: center;
			width: 125px;
			border: none;
			background-color: $periGreen;
			color: white;
			margin-left: auto;
			&.register {
				background-color: $periGreen;
				display: none;
			}
		}
	} // input container
	@media screen and(max-width: $break-iphone6plus) {
		width: 100vw;
		div.modal-dialog {
			top: 50px;
			width: 100%;
			margin: 0;
			height: 100vh;
			border: none;
			div.modal-content {
				width: 100%;
				border-radius: 0;
				margin: 0 auto;
			} //div.modal-content
		} //div.modal-dialog
	}
} //div.auth-modal