div#calendar-container.default-container {
}

#calendar-wrapper {
  font-size: 16px;
  width: 606px;
  position: relative;
  margin: 0 auto;
  background-color: white;
  padding-top: 40px;
  overflow-y: auto;
  @include box-shadow();
  div.clndr {
    padding: 10px;
    padding-bottom: 0;
  }
  .clndr-controls {
    width: 99%;
    padding: 5px 10px;
    margin: 0;
    height: 50px;
    i {
      font-size: 1.5em;
    }
    .clndr-previous-button {
      width: 20%;
      float: left;
      text-align: left;
      &:hover {
        cursor: pointer;
      }
    }
    .month {
      width: 60%;
      float: left;
      text-align: center;
      font-family: $hind;
      font-size: 1.5em;
    }
    .clndr-next-button {
      width: 20%;
      float: left;
      text-align: right;
      &:hover {
        cursor: pointer;
      }
    } //.clndr-next-button
  } //clndr-controls
  .clndr-grid {
    width: 99%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    .days-of-the-week {
      background-color: $periGreen;
      color: $asphalt;
      width: 100%;
      height: 30px;
    }
    .today {
      border: 1px solid $ashyRed;
    }
    .days {
    }
    .header-day { 
      height: 20px;
    }
    .header-day, .day {
      display: inline-block;
      width: 14.2857%;
      margin: 5px 0px !important;
      float: left;
      text-align: center;
      // font-family: Helvetica;
      // font-weight: 100;
    }
    .day {
      height: 30px;
      position: relative;
      &.eventDay:hover {
        border: none;
        border-bottom: 1px solid #dfbbbb;
        cursor: pointer;
      }
      .event-days-container {
        display: none;
        z-index: 1;
        height: 200px;
        width: 200px;
        position: absolute;
        bottom: -171px;
        right: -190px;
        background-color: white;
        cursor: default;
        padding: 0 10px;
        overflow-y: scroll;
        @include box-shadow();
        .event-title-container {
          border-bottom: 1px solid $cloud;
          padding: 10px 0px;
          a {
            font-size: .8em;
            color: black;
            &:hover {
              color: $cobaltBlue;
              text-decoration: none;
            }
          }
        }
        i.close {
            top: 2px;
            position: absolute;
            right: 2px;
            font-weight: 100;
            color: $ashyRed;
        }
      } //.event-days-container
      span.day-number {
        height: 20px;
        display: inline-block;
        font-family: Helvetica;
        font-weight: 100;    
        @include vertical-align();
      }
      @media screen and (max-width: $break-iphone6plus) {
        position: static;
        .event-days-container {
          margin-left: auto;
          margin-right: auto;
          width: 60%;
          height: 200px;
          left: 0;
          right: 0;
          top: 100px;
          box-shadow: 0 3px 5px rgba(0, 0, 0, .8);
        }
      }
    } // .day
    .prevMonth, .nextMonth {
      color: #dfbbbb;
      background-color: #FFF;
    }
  } //clndr-grid
  .events-wrapper {
    display: inline-block;
    min-height: 300px;
    max-height: 350px;
    overflow: scroll;
    width: 99%;
    padding: 10px;
    padding-bottom: 0;
    vertical-align: top;
    border-top: 1px dashed $asphalt;
    margin-top: 30px;
    .events-header {
      margin: 5px 0;
      text-align: center;
      span {
      }
    }
    .events {
      padding: 5px 30px;
      width: 82%;
      margin: 0 auto;
      min-height: 300px;
      a {
        color: black;
        &:hover {
          color: black;
          text-decoration: none;
        }
      }
      .event-group {
        margin-bottom: 5px;
        .event-item {
          border-bottom: 1px solid $cloud;
          padding: 5px;
          .event-title {
            padding-left: 30px;
            font-family: Helvetica;
            font-weight: 100;
            .title {
                color: $ashyRed;
              }
            .host {
              color: black;
            }
            &:hover {
              color: $cobaltBlue;
              cursor: pointer;
              .title {
                color: $cobaltBlue;
              }
              .host {
                color: $cobaltBlue;
              }
              a {
                color: $cobaltBlue;
                @media screen and(max-width: $break-iphone6plus) {
                  display: block;
                  width: 100%;
                }
              }
            }
          } //.event-title
          @media screen and(max-width: $break-iphone6plus) {
              .event-title {
                .title {
                  display: block;
                  width: 100%;
                }
              }
          }
        } //.event-item
      } // event.group
      .event-date {
        margin-bottom: 3px;
        font-family: 300;
        font-family: Helvetica;
      }
    }
  } // events.wrapper
  @media screen and (max-width: $break-iphone6plus) {
    width: 100vw;
    height: 100%;
  }
} // #calendar-wrapper