div#calendar-container.default-container {
  height: auto;
  #calendar-wrapper {
  font-size: 16px;
  width: 606px;
  position: relative;
  margin: 0 auto;
  background-color: white;
  overflow: visible;
  @include box-shadow();
  div.clndr {
    padding: 0 0 10px;
    padding-bottom: 0;
    .clndr-controls {
      width: 100%;
      padding: 5px 10px;
      margin: 0;
      height: 75px;
      background-color: $ashyRed;
      position: relative;
      color: white;
      &.january {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%), url('/assets/january.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%), url('/assets/january.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.4) 100%, rgba(0, 0, 0, 0.4) 100%), url('/assets/january.png');
        background-size: cover;
      }
      &.february {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/february.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/february.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/february.png');
        background-size: 100% 200px;
      }
      &.march {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/march.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/march.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/march.png');
        background-size: cover;
        background-position: 25% 60%;
      }
      &.april {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/april.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/april.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/april.png');
        background-size: 50% 100px;
      }
      &.may {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/may.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/may.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/may.png');
        background-size: cover;
      }
      &.june {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/june.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/june.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/june.png');
        background-size: 100% 200px;
        background-position: 25% 35%;
      }
      &.july {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/july.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/july.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/july.png');
        background-size: cover;
        background-position: 0% 35%;
      }
      &.august {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/august.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/august.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.1) 100%, rgba(0, 0, 0, 0.1) 100%), url('/assets/august.png');
        background-size: cover;
        background-position: 0% 35%;
      }
      &.september {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/september.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/september.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/september.png');
        background-size: contain;
      }
      &.october {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/october.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/october.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/october.png');
        background-size: contain;
      }
      &.november {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/november.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/november.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/november.png');
        background-size: 100% 200px;
      }
      &.december {
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/december.png');
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/december.png');
        background: linear-gradient(top, rgba(0, 0, 0, 0.2) 100%, rgba(0, 0, 0, 0.2) 100%), url('/assets/december.png');
        background-size: cover;
        background-position: 25% 60%;
      }
      i {
        font-size: 1.5em;
      }
      .clndr-previous-button {
        width: 20%;
        float: left;
        text-align: left;
        position: relative;
        height: 100%;
        text-shadow: -1px 1px 1px black;
        i {
          @include vertical-align();
        }
        &:hover {
          cursor: pointer;
        }
      }
      .month {
        width: 60%;
        float: left;
        text-align: center;
        font-family: $hind;
        font-size: 1.5em;
        text-shadow: -1px 1px 1px black;
        @include vertical-align();
      }
      .clndr-next-button {
        width: 20%;
        float: left;
        text-align: right;
        position: relative;
        height: 100%;
        text-shadow: -1px 1px 1px black;
        i {
          @include vertical-align();
        }
        &:hover {
          cursor: pointer;
        }
      } //.clndr-next-button
    } //clndr-controls
    .clndr-grid {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      padding-left: 10px;
      .days-of-the-week {
        background-color: white;
        color: $asphalt;
        width: 100%;
        height: 30px;
      }
      .today {
        border: 1px solid $ashyRed !important;
      }
      .days {
      }
      .header-day { 
        height: 20px;
        color: $asphalt;
      }
      .header-day, .day {
        display: inline-block;
        width: 14.2857%;
        margin: 5px 0px !important;
        float: left;
        text-align: center;
        // font-family: Helvetica;
        // font-weight: 100;
      }
      .day {
        height: 50px;
        position: relative;
        // border-bottom: 1px solid white;
        i {
          position: absolute;
          font-size: .40em;
          left: 0;
          right: 0;
          margin-right: auto;
          margin-left: auto;
          bottom: 2px;
          color: lighten(black, 40%);
        }
        &.eventDay {
          // color: $periGreen !important;
        }
        &.eventDay:hover {
          border: none;
          background-color: $periGreen;
          color: white;
          cursor: pointer;
          i.fa-circle {
            color: $periGreen;
          }
          h5 {
            color: black;
          }
        }
        .event-days-container {
          display: none;
          z-index: 1;
          height: 200px;
          width: 200px;
          position: absolute;
          bottom: -171px;
          right: -190px;
          background-color: white;
          cursor: default;
          padding: 0 10px;
          overflow-y: scroll;
          padding-top: 10px;
          @include box-shadow();
          .event-title-container {
            border-bottom: 1px solid $cloud;
            padding: 10px 0px;
            a {
              font-size: .8em;
              color: black;
              &:hover {
                color: $cobaltBlue;
                text-decoration: none;
              }
            }
          }
          i.close {
              top: 2px;
              position: absolute;
              right: 2px;
              font-weight: 100;
              color: $ashyRed;
              width: 20px;
              height: 20px;
              font-size: 1em;
              color: black;
              opacity: .5;
              margin-right: 2px;
              &:hover {
                opacity: .8;
              }
          }
        } //.event-days-container
        span.day-number {
          height: 100%;
          width: 100%;
          padding-top: 15px;
          display: inline-block;
          font-family: Helvetica;
          font-weight: 100;    
          @include vertical-align();
        }
      } // .day
      .prevMonth, .nextMonth {
        color: #dfbbbb;
        background-color: #FFF;
      }
    } //clndr-grid
    .events-wrapper {
      display: inline-block;
      min-height: 300px;
      max-height: 350px;
      overflow: scroll;
      width: 100%;
      padding: 10px;
      padding-bottom: 0;
      vertical-align: top;
      border-top: 2px dashed $asphalt;
      margin-top: 30px;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 100%, rgba(255, 255, 255, 0.6) 100%), url('/assets/cork_texture.jpg') repeat;
      background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 100%, rgba(255, 255, 255, 0.6) 100%), url('/assets/cork_texture.jpg') repeat;
      background: linear-gradient(top, rgba(255, 255, 255, 0.6) 100%, rgba(255, 255, 255, 0.6) 100%), url('/assets/cork_texture.jpg') repeat;
      .events-header {
        margin: 5px 0;
        text-align: center;
        span {
        }
      }
      .events {
        padding: 5px 30px;
        width: 82%;
        margin: 0 auto;
        min-height: 300px;
        a {
          color: black;
          &:hover {
            color: black;
            text-decoration: none;
          }
        }
        .event-group {
          margin-bottom: 5px;
          .event-item {
            border-bottom: 1px dashed $cloud;
            padding: 5px;
            .event-title {
              margin-left: 25px;
              padding-left: 5px;
              font-family: Helvetica;
              font-weight: 100;
              margin-bottom: 10px;
              border-left: 1px solid $asphalt;
              .title {
                  width: 100%;
                  display: inline-block;
                  color: black;
                }
              .host {
                color: black;
              }
              &:hover {
                color: $cobaltBlue;
                cursor: pointer;
                .title {
                  color: $cobaltBlue;
                }
                .host {
                  color: $cobaltBlue;
                }
                a {
                  color: $cobaltBlue;
                  @media screen and(max-width: $break-iphone6plus) {
                    display: block;
                    width: 100%;
                  }
                }
              }
            } //.event-title
            @media screen and(max-width: $break-iphone6plus) {
                .event-title {
                  .title {
                    display: block;
                    width: 100%;
                  }
                }
            }
          } //.event-item
        } // event.group
        .event-date {
          margin-bottom: 3px;
          font-family: 300;
          font-family: Helvetica;
        }
      }
    } // events.wrapper
  }
  @media screen and (max-width: $break-iphone6plus) {
    width: 100vw;
    height: 100%;
    padding-top: 15px;
    div.clndr {
      padding: 10px 0;
      div.clndr-controls {
        width: 100%;
      }//div.clndr-controls
      div.clndr-grid {
        div.days {
          div.day {
            .event-days-container {
              margin-left: auto;
              margin-right: auto;
              width: 60%;
              height: 200px;
              left: 0;
              right: 0;
              top: 200px;
              box-shadow: 0 3px 5px rgba(0, 0, 0, .8);
              position: fixed;
              z-index: 100;
              i.close {

              }
              div.event-title-container {
                a {
                  color: $cobaltBlue;
                }
              } //div.event-title-container
            } //.event-days-container
          } //div.day
        } //div.days
      }//div.clndr-grid
    } //div.clndr
  } //#calendar-wrapper max-width: $break-iphone6plus
} // #calendar-wrapper
}

