// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ********** categories#new **********
	div#categories-new-container {
		width: 100vw;
		max-width: 500px;
		margin: 0 auto;
		padding-top: 28px;
		background-color: white;
		@include box-shadow(.3);
		@include banner-overlay();
		button#invite-guests {
			display: none;
		}
		div#category-for {
			font-size: 1.5em;
			margin: 0px auto 10px;
			font-family: $hind;
			width: 80%;
		}
		div#form-container {
			width: 100%;
			height: auto;
			background-color: white;
			padding: 20px 10px;
			div#input-container {
				width: 90%;
				margin: 0 auto;
				text-align: center;
				div.input-box {
					text-align: left;
					label {
						font-weight: 200;
						&.items-requested {
							font-size: 15px;
						}
					}
					textarea, input {
						border: none;
						border: 1px solid white;
						border-bottom: 1px solid $cloud;
						margin-bottom: 10px;
						color: $asphalt;
						padding-top: 3px;
						padding-bottom: 3px;
						padding-left: 3px;
						width: 100%;
						&:focus {
							outline: none;
							border: 1px solid $cobaltBlue;
						}
					}
					textarea#category_description {
						height: 100px;
						border: 1px solid $cloud;
						padding: 10px;
						&:focus {
							border: 1px solid $cobaltBlue;
						}
					}
				} //div.input-box
				.site-button {
					color: white;
					background-color: $periGreen;
					border-radius: 0;
					margin-top: 20px;
					&:hover {
						background-color: lighten($periGreen, 2%);
					}
				}
			} // div#input-container
		} //div#form-container
		@media screen and (max-width: $break-iphone6plus) {
			min-height: 100vh;
			background-color: white;
			margin: 0;
			div.clearfixs {
				div#form-container {
					box-shadow: none;
					div#input-container {
						width: 100%;
						margin: 0;
					} //div#input-container
				} //div#form-container
			} //div.clearfixs
		} //div#new-item-container max-width $break-iphone6plus
	} //div#categories-new-container
// ********** categories#new END **********

// ********** categories#show **********

div#categories-show-container {
	width: 100vw;
	max-width: 785px;
	margin: 0 auto;
	height: auto;
	@include banner-overlay();
	div#information-section {
		position: relative;
		height: auto;
		width: 100%;
		background-color: $cloud;
		overflow: visible;
		padding: 20px 0;
		div.info-box {
			background-color: #FFF;
			margin: 0 auto;
			position: relative;
			@include box-shadow(.3);
			& >i {
				color: $periGreen;
				font-size: 18px;
				position: absolute;
				left: 15px;
			}
		}
		div#overview-container {
			height: 500px;
			height: auto;
			padding-left: 0;
			padding-right: 5px;
			div#items-container {
				height: auto;
				width: 100%;
				margin: 0 auto 10px;
				background-color: #FFF;
				text-align: center;
				padding: 10px;
				div#items-header {
					margin: 0 0 10px 0;
					text-align: center;
					font-weight: bold;
					font-size: 1.25em;
					height: 25px;
					font-family: $hind;
				}
				& > a {
					div.item {
						margin: 3px auto;
						padding-left: 50px;
						text-align: left;
						position: relative;
						&.additional {
							display: none;
						}
					}
				}
			}
			@include categories-container();
		} //div#overview-container
		div#category-container {
			height: 500px;
			padding-left: 5px;
			padding-right: 0;
			div#category {
				height: auto;
				width: 100%;
				margin: 0 auto;
				background-color: #FFF;
				padding: 10px;
				div#category-header {
					font-size: 1.75em;
    				text-align: center;
    				font-family: $hind;
    				font-weight: bold;
    				margin-bottom: 5px;
				}
				div#items-count-container {
					padding-left: 15px;
					margin-bottom: 20px;
					font-size: .9em;
					span {

					}
				}
				div#description {
					padding: 5px 15px;
				}
			}
			a#bring-item {
				&:hover {
					text-decoration: none;
					
				}
				button.site-button {
					width: 100%;
					margin: 10px auto;
					display: block;
					height: 36px;
					background-color: $periGreen;
					text-align: center;
					color: #FFF;
				}
			}
		} //div#category-container
		// ********** div#information-section max-width: $break-sm **********
		@media screen and(max-width: $break-sm) {
			div#overview-container {
				padding: 0;
				width: 98%;
				margin: 0 auto;
				div#items-container {
					& > a {
						div.item {
							width: 50%;
							margin: 0 auto;
						}
					}
				} //div#items-container
			} //div#overview-container
			div#category-container {
				padding: 0;
				width: 98%;
				margin: 0 auto;
			}
		} // media screen max-width: $break-sm
		// ********** div#information-section max-width: $break-iphone6plus **********
		@media screen and(max-width: $break-iphone6plus) {
			padding-top: 0; 
			background-color: white;
			div#overview-container {
				width: 100%;
				box-shadow: none;
				div#categories-container {
					border-top: 2px solid $cloud;
					border-bottom: 2px solid $cloud;
				}
				div#items-container {
					height: 60px;
					padding: 0;
					position: relative;
					width: 100vw;
					margin: 0;
					border-bottom: 2px solid $cloud;
					@include hori-scroll-wrapper();
					&.empty {
						padding-top: 15px;
					}
					div#items-header {
						display: none;
					}
					& > a {
						&:hover {
							text-decoration: none;
						}
						div.item {
							width: auto;
							font-size: 1.1em;
							color: black;
							height: 60px;
							display: inline-block;
							padding: 0 20px 0;
							text-align: center;
							border-right: 1px solid $cloud;
							margin-right: -4px;
							cursor: pointer;
							position: relative;
							&.additional {
								display: inline-block;
							}
							span.item-title {
								display: block;
								@include vertical-align();
							}
						}
					}
				} //div#items-container
			} //div#overview-container
			div#category-container {
				width: 100%;
				div#category {
					box-shadow: none;
				}
				a#bring-item {
					button.site-button {
						width: 98%;
						position: relative;
					}
				} //a#bring-item
			} //div#category-container
		}
	} //div#information-section
	@media screen and (max-width: $break-iphone6plus) {
		padding-top: 0;
		div#information-section {
			div#overview-container {
			} //div#overview-container
			div#category-container {
				a#bring-item {
					button.site-button {
						width: 95%;
						position: relative;
					}
				} //a#bring-item
			} //div#category-container
		}//div#information-section
	}
} //div#categories-show-container

// ********** categories#show END **********

// ********** categories#in_event **********
div#categories-in-event-edit {
	min-height: 100vh;
	height: auto;
	width: 100vw;
	max-width: 500px;
	margin: 0 auto;
	position: relative;
	background-color: white;
	padding-top: 28px;
	@include banner-overlay();
	@include box-shadow();
	button#invite-guests {
		display: none;
	} 
	div#categories-container {
		padding: 40px 10px;
		div#categories-header {
			font-size: 1.75em;
			font-family: $hind;
			position: relative;
			text-align: center;
			padding: 10px;
			a {
				color: black;
				&:hover {
					text-decoration: none;
					color: black;
				}
				button#categories-add-link {
				    width: 60px;
				    height: 30px;
				    font-size: .9rem;
				    margin-left: 10px;
				    position: absolute;
				    right: 10px;
				    top: -30px;
				    padding: 3px 6px;
				    background-color: $cloud;
				    border: 1px solid darken($cloud, 40%);
				    &:hover {
				    	background-color: darken($cloud, 2%);
				    }
				} //button#categories-add-link
			}
		} //div#categories-header
		div#categories-empty {
			width: 100%;
			font-size: .9em;
			text-align: center;
		} //div#categories-empty
		div.category-box {
			padding: 20px 0;
			position: relative;
			border-bottom: 2px dotted $cloud;
			text-align: center;
			& > div {
				text-align: left;
				label {
					font-weight: 300;
				}
				p {
					border-bottom: 1px solid darken($cloud, 5%);
				}
			} // & > div
			& > a {
				&:hover {
					text-decoration: none;
					color: white;
				}
				button.edit {
					width: 70px;
					height: 25px;
					font-size: .8em;
					background-color: $cobaltBlue; 
					color: white;
				}
				button.delete {
					width: 70px;
					height: 25px;
					font-size: .8em;
					background-color: $ashyRed; 
					color: white;
				}
			} // & > a
		} //div.category-box
	} //div#categories-container
} //div#categories-in-event
// ********** categories#in_event END **********

// ********** categories#edit **********

div#categories-edit-container {
	width: 100vw;
	max-width: 500px;
	margin: 0 auto;
	padding-top: 28px;
	background-color: white;
	@include box-shadow(.3);
	@include banner-overlay();
	button#invite-guests {
		display: none;
	}
	div#category-for {
		font-size: 1.5em;
		margin: 0px auto 10px;
		font-family: $hind;
		width: 80%;
	}
	div#form-container {
		width: 100%;
		height: auto;
		background-color: white;
		padding: 20px 10px;
		div#input-container {
			width: 90%;
			margin: 0 auto;
			text-align: center;
			div.input-box {
				text-align: left;
				label {
					font-weight: 200;
					&.items-requested {
						font-size: 15px;
					}
				}
				textarea, input {
					border: none;
					border: 1px solid white;
					border-bottom: 1px solid $cloud;
					margin-bottom: 10px;
					color: $asphalt;
					padding-top: 3px;
					padding-bottom: 3px;
					padding-left: 3px;
					width: 100%;
					&:focus {
						outline: none;
						border: 1px solid $cobaltBlue;
					}
				}
				textarea#category_description {
					height: 100px;
					border: 1px solid $cloud;
					padding: 10px;
					&:focus {
						border: 1px solid $cobaltBlue;
					}
				}
			} //div.input-box
			.site-button {
				color: white;
				background-color: $periGreen;
				border-radius: 0;
				margin-top: 20px;
				&:hover {
					background-color: lighten($periGreen, 2%);
				}
			}
		} // div#input-container
	} //div#form-container
	@media screen and (max-width: $break-iphone6plus) {
		min-height: 100vh;
		background-color: white;
		margin: 0;
		div.clearfixs {
			div#form-container {
				box-shadow: none;
				div#input-container {
					width: 100%;
					margin: 0;
				} //div#input-container
			} //div#form-container
		} //div.clearfixs
	} //div#new-item-container max-width $break-iphone6plus
} //div#categories-edit-container



