// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ********** categories#show **********

div#categories-show-container {
	width: 100vw;
	max-width: 785px;
	margin: 0 auto;
	height: auto;
	@include banner-overlay();
	div#information-section {
		position: relative;
		height: auto;
		width: 100%;
		background-color: $cloud;
		overflow: visible;
		padding: 20px 0;
		div.info-box {
			background-color: #FFF;
			margin: 0 auto;
			position: relative;
			@include box-shadow(.3);
			& >i {
				color: $periGreen;
				font-size: 18px;
				position: absolute;
				left: 15px;
			}
		}
		div#overview-container {
			height: 500px;
			height: auto;
			padding-left: 0;
			padding-right: 5px;
			div#items-container {
				height: auto;
				width: 100%;
				margin: 0 auto 10px;
				background-color: #FFF;
				text-align: center;
				padding: 10px;
				div#items-header {
					margin: 0 0 10px 0;
					text-align: center;
					font-weight: bold;
					font-size: 1.25em;
					height: 25px;
					font-family: $hind;
				}
				div.item {
					margin: 3px auto;
					padding-left: 50px;
					text-align: left;
					a {
						color: inherit;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
			@include categories-container();
		} //div#overview-container
		div#category-container {
			height: 500px;
			padding-left: 5px;
			padding-right: 0;
			div#category {
				height: auto;
				width: 100%;
				margin: 0 auto;
				background-color: #FFF;
				padding: 10px;
				div#category-header {
					font-size: 1.75em;
    				text-align: center;
    				font-family: $hind;
    				font-weight: bold;
    				margin-bottom: 5px;
				}
				div#items-count-container {
					padding-left: 15px;
					margin-bottom: 20px;
					font-size: .9em;
					span {

					}
				}
				div#description {
					padding: 5px 15px;
				}
			}
			button.site-button {
				width: 100%;
				margin: 10px auto;
				display: block;
				background-color: $periGreen;
				text-align: center;
				color: #FFF;
			}
		} //div#category-container
		// ********** div#information-section max-width: $break-sm **********
		@media screen and(max-width: $break-sm) {
			div#overview-container {
				padding: 0;
				width: 98%;
				margin: 0 auto;
				div#items-container {
					div.item {
						width: 50%;
						margin: 0 auto;
					}
				} //div#items-container
			} //div#overview-container
			div#category-container {
				padding: 0;
				width: 98%;
				margin: 0 auto;
			}
		} // media screen max-width: $break-sm
		// ********** div#information-section max-width: $break-iphone6plus **********
		@media screen and(max-width: $break-iphone6plus) {
			padding-top: 0; 
			div#overview-container {
				width: 100%;
				box-shadow: none;
				div#categories-container {
					height: 60px;
					padding: 0;
					position: relative;
					@include hori-scroll-wrapper();
					@include box-shadow(0);
					div#categories-header {
						display: none;
					}
					div.category {
						width: auto;
						font-size: 1.1em;
						color: black;
						height: 60px;
						display: inline-block;
						padding: 0 20px 0;
						text-align: center;
						border-right: 1px solid $cloud;
						cursor: pointer;
						&.selected {
							border-bottom: 2px solid $ashyRed;
						}
						span.cat-count {
							width: 100%;
							position: absolute;
							margin-left: auto;
							margin-left: auto;
							left: 0;
							right: 0;
							top: 2px;
							font-size: .65em;
						}
						span.cat-name {
							display: block;
							width: 100%;
							@include vertical-align();
							// -webkit-transform: translateY(-100%);
						 //    -ms-transform: translateY(-100%);
						 //    transform: translateY(-100%);
						}
						i {
							display: none;
						}
					}
				}
				div#items-container {
					div.item {
						padding: 0;
					}
				} //div#items-container
			} //div#overview-container
			div#category-container {
				div#category {
					
				}
			} //div#category-container
		}
	} //div#information-section
}