// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search-wrapper {
	input {
	width: 350px;
	}
}

.host-username {
	font-size: 14px;
}

.bring-btn {
	margin-top: 20px;
}

span {
	strong {
		font-size: 14px;
	}
}