// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#new-event-container {
	height: 660px;
	width: 500px;
	margin: 0 auto;
	top: 50px;
	position: relative;
	@include box-shadow();
	padding: 20px 10px;
	background: white;
	h3 {
		margin: 0;
		color: gray;
	}
	div.form-container {
		& > form > div {
			width: 80%;
			margin: 0 auto;
			& > div {
				padding: 0;
			}
			& > div.col-xs-4 {
				padding-left: 5px;
			}
			& > div.start-end-wrapper {
				div.col-xs-6 {
					padding: 0 !important;
					&.end {
						position: relative;
						left: 5px;
					}
				}
			}
		}
		textarea, input {
			border: none;
			border-bottom: 1px solid $cloud;
			margin-bottom: 10px;
			color: $asphalt;
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: 3px;
			&:focus {
				color: black;
			}
			&.full {
				width: 100%;
			}
			&.large {
				width: 80%;
				max-width: 480px;
			}
			&.medium {
				width: 48%;
			}
			&.half {
				width: 50%;
			}
			&.small {
				width: 22%;
			}
			&.photos {
				border: none;
				display: none;
				// visibility: hidden;
			}
			&.highlights {
				height: 75px;
			}
			&.description {
				height: 125px;
			}
		}
		textarea {
			border: 1px solid $cloud;
		}
		label {
			font-weight: 200;
			&.half {
				width: 49%;
			}
		}
		div.file-label {
			height: 40px;
			div.button {
				height: 40px;
				width: 60%;
				margin: 0 auto;
				border: 1px solid white;
				position: relative;
				&:hover {
					border-bottom: 1px solid $cobaltBlue;
					cursor: pointer;
				}
				& > div {
					height: 30px;
					text-align: center;
					@include vertical-align();
					top: 60%;
					i {
						color: $periGreen;
					}
				}
			}
		}
		#new-event-submit {
			color: white;
			background-color: $periGreen;
			border-radius: 0;
			&:hover {
				background-color: lighten($periGreen, 2%);
			}
		}
	} // div.form-container
}

// ********** event#show **********

div#event-show-container {
	position: relative;
	width: 100vw;
	max-width: 785px;
	min-height: 1000px;
	top: 25px;
	margin: 0 auto;
	overflow-y: visible;
	@include box-shadow();
	div#banner-container {
		height: 300px;
		background-color: silver;
		position: relative;
		div#banner-overlay {
			position: absolute;
			width: 100%;
			height: 70px;
			bottom: 0;
			left: 0;
			padding-left: 20px;
			// background: rgba(255, 255, 255, 0.9); 
			// background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 12%, #666666 25%, #474747 43%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
			// background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 43%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
			// background: linear-gradient(to bottom, rgba(0, 0, 0, 0%), rgba(0,0,0, 5%), rgba(0,0,0, 10%), rgba(0,0,0, 15%), rgba(0,0,0, 35%), rgba(0,0,0, 45%), rgba(0,0,0, 60%));
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); 
			div#date-container {
				width: 60px;
				height: 60px;
				top: -10px;
				position: relative;
				// border: 2px solid white;
				background-color: white;
				text-align: center;
				float: left;
				div#date-box {
					height: 22px;
					background-color: $cobaltBlue;
					color: white;
				}
				div#date-day {
					color: black;
					font-size: 1.5em;
					position: relative;
					padding-top: 5px;
				}
			} //div#date-container
			div#title-container {
				float: left;
				height: 60px;
				position: relative;
				top: -10px;
				padding-top: 12px;
				font-size: 1.70em;
				margin-left: 20px;
				div#title {
					color: white;
					text-shadow: -1px 0px 1px black;
					span.event-host {
						font-size: .75em;
						span.host-name {

						}
					}
				}
				@media screen and(max-width: $break-sm) {
					font-size: 1.3em;
					top: -20px;
					span.event-host {
						display: block;
						width: 100%;
						span.host-name {
							
						}
					}
				}
			} //div#title-container

		}
	}
	div#information-section {
		position: relative;
		// min-height: 600px;
		height: auto;
		width: 100%;
		background-color: #FFF;
		overflow: visible;
		padding-bottom: 5px;
		div.info-box {
			width: 90%;
			height: 40px;
			background-color: #FFF;
			margin: 0 auto;
			padding: 10px;
			padding-left: 40px;
			position: relative;
			@include box-shadow(.3);
			& >i {
				color: $periGreen;
				font-size: 18px;
				position: absolute;
				left: 15px;
			}
		}
		div#information {
			padding-top: 40px;
			height: auto;
			background-color: white;
			// border: 1px solid black;
			div#time {
				margin-bottom: 5px;
			}
			div#place {
				margin-bottom: 5px;
				height: 50px;
				div#address-details {
					font-size: .9em;
					color: $ashyRed;
				}
			}
			div#highlights {
				height: auto;
				max-height: 80px;
				margin-bottom: 10px;
				padding-top: 10px;
				overflow-y: scroll; 
			}
			div#description {
				min-height: 80px;
				padding-left: 10px;
				height: auto;
			}
		}
		div#additional-information {
			padding-top: 40px;
			height: auto;
			// border: 1px solid black;
			div#guests {
				height: 170px;
				margin-bottom: 10px;
				padding-left: 10px;
				@media screen and (max-width: $break-sm) {
					height: 115px;
				}
				@media screen and (max-width: $break-iphone6plus) {
					&:after {
						@include contain-float();
					}
					height: auto;
				}
				div#guests-header {
					margin: 0;
					text-align: center;
					font-weight: bold;
					font-size: 20px;
					height: 25px;
					font-family: $hind;
				}
				div.guests-info {
					height: 60px;
					padding: 0;
					padding-top: 5px;
					@media screen and (max-width: $break-iphone6plus) {
						width: 50% !important;
					}
					div.guests-num {
						font-size: 1.25em;
						text-align: center;
					}
					div.guests-cat {
						font-size: 1.25em;
						text-align: center;
					}
				}
			}
			div#whos-bringing-what {
				min-height: 80px;
				padding-left: 10px;
				height: auto;
				div#categories-header {
					font-size: 1.25em;
    				text-align: center;
    				font-family: $hind;
    				font-weight: bold;
    				margin-bottom: 5px;
				}
				div.category {
					margin-bottom: 2px;
					font-size: 1.1em;
					padding-left: 30px;
					@media screen and(max-width: $break-sm) {
					    // padding-left: 30%;	
					    padding-left: 0;
					    text-align: center;					
					}
					div.cat-count {

					}
					div.cat-name {

					}
				}
			}
		}
	}
	div#comment-section {
		position: relative;
		width: 100%;
		min-height: 500px;
		background-color: #FFF;
		height: auto;
		padding: 50px 0px;
		// border: 1px solid yellow;
		div#add-comment-container {
			min-height: 150px;
			width: 70%;
			margin: 0 auto 100px;
			div.profile-pic-container {
				width: 30%;
				float: left;
				height: 120px;
				div.profile-pic {
					width: 70px;
					height: 70px;
					border-radius:  50%;
					margin: 0 auto;
					position: relative;
					top: 25px;
					border: 1px solid silver;
				}
			}
			textarea#comment_post {
				width: 70%;
				height: 120px;
				float: left;
				resize: none;
				padding: 2px 6px;
				border: 1px solid silver;
				&:focus {
					outline: none;
					border: 1px solid $periGreen;
				}
			}
			div.submit-button-container {
				width: 100%;
				float: left;
				margin-top: 10px;
				text-align: right;
				& > input.site-button {
					background-color: $cobaltBlue;
					color: white;
					&:hover {
						background-color: darken($cobaltBlue, 2%);
					}
				}
			}
			@media screen and (max-width: $break-sm) {
				width: 73%;
			}
			@media screen and (max-width: $break-iphone6plus) {
				width: 98%;
				div.profile-pic-container {
					width: 100%;
					height: 130px;
					div.profile-pic {
						height: 90px; 
						width: 90px;
					}
				}
				textarea#comment_post {
					width: 100%;
				}
				div.submit-button-container {
					text-align: center;
				}
			}
		} // div#add-comment-container
		div.comment-container {
			height: auto;
			width: 70%;
			margin: 90px auto;
			position: relative;
			@include box-shadow(0.4);
			div.user-avi {
				min-height: 70px;
			    min-width: 70px;
			    border-radius: 50%;
			    position: absolute;
			    top: -35px;
			    left: -35px;
			    background-color: white;
			    border: 1px solid #bcc;
			}
			div.comment-made {
				min-height: 30px;
			    // border: 1px solid black;
			    width: 300px;
			    position: absolute;
			    left: 45px;
			    top: -30px;
			    padding-top: 8px;
			    color: #bababa;
			    font-size: 0.9em;
			    span.username {
			    	color: $periGreen;
			    }
			}
			div.post-container {
				padding: 20px 40px;
				& > {
					p {
						margin: 0;
					}
				}
			}
			@media screen and (max-width: $break-sm) {
				width: 73%;
			}
			@media screen and (max-width: $break-iphone6) {
				width: 98%;
				margin: 150px auto;
				div.user-avi {
				    min-height: 90px;
				    min-width: 90px;
				    top: -100px;
				    left: 10px;
				}
				div.comment-made {
					left: 94px;
    				top: -30px;
				}
				div.post-container {
					padding: 10px 20px;
				}
			}
		} // div.comment-container
	}
} // event-show-container
