// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.event-form-container {
	height: auto;
	max-width: 500px;
	margin: 0 auto;
	top: 10px;
	position: relative;
	@include box-shadow();
	padding: 20px 10px;
	background-color: white !important;
	div#error-explanation {
		text-align: left;
		position: relative;
		i {
			display: block;
			margin: 0 auto;
			width: 20px;
			font-size: 1.2em;
		}
		ul {
			border: 1px solid darken($cloud, 10%);
			width: 250px;
			padding: 15px;
			padding-left: 30px;
			color: $ashyRed;
			margin: 10px auto 0;
		}
	}
	h3 {
		margin: 0;
		color: gray;
	}
	div.form-container {
		& > form > div {
			width: 90%;
			margin: 10px auto;
			& > div {
				padding: 0;
				margin: 10px auto;
			}
			& > div.col-xs-4 {
				padding-left: 5px;
			}
			& > div.start-end-wrapper {
				div.start, div.end {
					padding-left: 0;
					padding-right: 0;
					padding: 0;
				}
				div.col-xs-6 {
					padding: 0 !important;
					&.end {
						position: relative;
						left: 5px;
					}
				}
			}
			div#event-pictures {
				height: auto;
				label {
					width: 100%;
				}
				div.picture-container {
					margin: 20px auto;
					label {
						padding-left: 40px;
						margin-bottom: 20px;
					}
					img {
						max-width: 200px;
						max-height: 150px;
						display: block;
						margin: 0 auto;
					}
					a {
						color: inherit;
						width: 100px;
						height: 25px;
						display: block;
						margin: 10px auto 15px;
						&:hover {
							text-decoration: none;
						}	
					} //a
					button.site-button {
						width: 100%;
						height: 100%;
						font-size: 12px;
						padding: 2px;
						&.crop {
							background-color: $cobaltBlue;
							border: 1px solid $cobaltBlue;
							color: white;
							&:hover {
								background-color: darken($cobaltBlue, 2%);
							}
						}
					} //button.site-button
					label.replace {
						background-color: white;
						border: 1px solid darken($cloud, 20%);
						width: 100px;
						height: 25px;
						font-size: 12px;
						display: block;
						margin: 10px auto;
						padding: 2px;
						font-weight: normal;
						text-align: center;
						&:hover {
							background-color: darken(white, 2%);
							cursor: pointer;
						}
						&:active {
							@include button-shadow();
						}
					} //label.replace
					span#photo-filename,
					span#banner-filename {
						max-width: 100%;
						height: 24px;
						overflow: hidden;
						display: block;
						margin: 0 auto;
						text-align: center;
						font-size: .9em;
					} //label.replace
				} //div.picture-container
			} //div#event-pictures
		} //& > form > div
		textarea, input {
			border: none;
			border: 1px solid white;
			border-bottom: 1px solid darken($cloud, 20%);
			margin-bottom: 10px;
			color: $asphalt;
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: 3px;
			font-size: .9em;
			&:focus {
				color: black;
				outline: none;
				border: 1px solid $cobaltBlue;
			}
			&.full {
				width: 100%;
			}
			&.large {
				width: 80%;
				max-width: 480px;
			}
			&.medium {
				width: 48%;
			}
			&.half {
				width: 50%;
			}
			&.small {
				width: 22%;
			}
			&.smaller {
				width: 18%;
			}
			&.photos {
				border: none;
				display: none;
				// visibility: hidden;
			}
			&.highlights {
				height: 75px;
			}
			&.description {
				height: 125px;
			}
		}
		textarea {
			border: 1px solid $cloud;
		}
		label {
			font-weight: 300;
			&.items-requested {
				font-size: .95em;
			}
		}
		div.file-label {
			height: 70px;
			text-align: center;
			div.button {
				height: 40px;
				width: 60%;
				margin: 0 auto;
				border: 1px solid white;
				position: relative;
				&:hover {
					border-bottom: 1px solid $cobaltBlue;
					cursor: pointer;
				}
				& > div {
					height: 30px;
					text-align: center;
					@include vertical-align();
					top: 60%;
					i {
						color: $cobaltBlue;
					}
				}
			} //div.button
			span#banner-filename, span#photo-filename {
				font-size: .9em;
				max-width: 100%;
				overflow: hidden;
				display: inline-block;
			}
		}// div.file-label
		a.edit-categories {
			margin: 0 auto 10px;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
		} //a.edit-categories
		#new-event-submit, #edit-event-submit {
			color: white;
			background-color: $periGreen;
			border-radius: 0;
			padding: 5px 10px;
			width: 130px;
			border: 1px solid $periGreen;
			&:hover {
				background-color: lighten($periGreen, 2%);
			}
			&:active {
				border: none;
				border: 1px solid $periGreen;
			}
			&:focus {
				border: none;
				border: 1px solid $periGreen;
			}
		}
	} // div.form-container
	@media screen and(max-width: $break-iphone6plus) {
		top: 0;
		div.form-container {
			textarea {
				padding: 10px;				
				&#event_highlights {
					height: 130px;
				} //textarea#event_highlights
				&#event_description {
					height: 170px;
				} //textarea#event_description
			}
		} //div.form-container
	} //div.event-form-container @media screen and(max-width: $break-iphone6plus)
} //div.event-form-container 

div#event-new-container {
	height: auto;
	padding-bottom: 40px;
	form#new_event {
		div#categories-container {
			div#categories-header {
				font-size: 1.1em;
				position: relative;
				button#categories-add {
				    width: 55px;
				    height: 25px;
				    font-size: .7em;
				    right: 0;
				    top: 0;
				    margin: 0;
				    position: absolute;
				    background-color: $cloud;
				    border: 1px solid darken($cloud, 40%);
				    &:hover {
				    	background-color: darken($cloud, 2%);
				    }
				} //button#categories-add
			} //div#categories-header
			div.category-box {
				border-bottom: 2px dotted darken($cloud, 10%);
				margin-bottom: 20px;
				div.category-description {
					textarea.description {
						height: 80px;
					} //textarea.description
				} //div.category-description
			} //div.category-box
		} //div#categories-container
	} //form#new_event
	@media screen and (max-width: $break-iphone6plus) {
		padding-bottom: 0;
	} // div#event-new-container
} //div#event-new-container
// ********** END events#new and events#edit **********

// ********** events#edit **********
	div#event-edit-container {
		height: auto;
		padding-bottom: 40px;
		@media screen and (max-width: $break-iphone6plus) {
			padding-bottom: 0;
		} // div#event-edit-container
	}
// ********** events#edit **********

// ********** events#show **********

div#event-show-container {
	position: relative;
	width: 100vw;
	max-width: 785px;
	min-height: 1000px;
	margin: 0 auto;
	overflow-y: visible;
	@include banner-overlay;
	div#information-section {
		position: relative;
		height: auto;
		width: 100%;
		background-color: $cloud;
		overflow: visible;
		padding-bottom: 5px;
		div.info-box {
			width: 100%;
			height: 40px;
			background-color: #FFF;
			margin: 0 auto;
			padding: 10px;
			padding-left: 40px;
			position: relative;
			@include box-shadow(.3);
			& >i {
				color: $periGreen;
				font-size: 18px;
				position: absolute;
				left: 15px;
				padding-left: 1px;
				width: 20px;
			}
		}
		div#information {
			padding-left: 0;
			padding-right: 5px; 
			padding-top: 10px;
			height: auto;
			background-color: $cloud;
			div#time {
				margin-bottom: 5px;
			}
			div#place {
				margin-bottom: 5px;
				height: auto;
				span#event-address {
					width: 100%;
					display: inline-block;
				}
				div#address-details {
					font-size: .9em;
					color: $ashyRed;
				}
				span#city-zip-container {
					width: 100%;	
					display: inline-block;
					span#event-city, span#event-zipcode {
						display: inline-block;
					} 
				}
				span#event-state {
					width: 100%;
					display: inline-block;
				}
			} // div#place
			div#highlights {
				height: auto;
				max-height: 80px;
				margin-bottom: 10px;
				padding-top: 10px;
				overflow-y: scroll; 
			}
			div#description {
				min-height: 80px;
				padding: 10px 20px;
				height: auto;
			}
			// ********** div#information max-width: @break-sm **********
			@media screen and(max-width: $break-sm) {
				padding-left: 5px;
				padding-right: 5px;
			}
		} //div#information
		div#additional-information {
			padding-right: 0;
			padding-left: 5px;
			padding-top: 10px;
			height: auto;
			div#mobile-category {
				display: none;
			}
			div#guests {
				height: 170px;
				margin-bottom: 10px;
				padding-left: 10px;
				height: auto;
				div#guests-header {
					margin: 0;
					text-align: center;
					font-size: 20px;
					height: 25px;
					font-family: $hind;
					font-weight: bold;
				}
				div.guests-info {
					height: 60px;
					padding: 0;
					padding-top: 5px;
					&:hover {
						color: $cobaltBlue;
						cursor: pointer;
					}
					div.guests-num {
						font-size: 1.25em;
						text-align: center;
					}
					div.guests-cat {
						font-size: 1.1em;
						text-align: center;
					}
					@media screen and (max-width: $break-iphone6plus) {
						width: 50% !important;
						padding: 10px 0;
						height: auto;
					}
				}
			} // div#guests
			@include categories-container();
			// ********** div#additional-information max-width: $break-sm **********
		} //div#additional-information
	}
	div#comment-section {
		position: relative;
		width: 100%;
		min-height: 500px;
		height: auto;
		padding: 50px 0px;
		div#add-comment-container {
			min-height: 150px;
			width: 70%;
			margin: 0 auto 100px;
			div.profile-pic-container {
				width: 30%;
				float: left;
				height: 120px;
				div.profile-pic {
					width: 100px;
					height: 100px;
					border-radius:  100%;
					margin: 0 auto;
					position: relative;
					background-color: #FFF;
					border: 1px solid silver;
					@include vertical-align();
					img {
						width: 100%;
						height: 100%;
						border-radius: 100%;
					}
				}
			}
			textarea#comment_post {
				width: 70%;
				height: 120px;
				float: left;
				resize: none;
				padding: 2px 6px;
				border: 1px solid silver;
				&:focus {
					outline: none;
					border: 1px solid $periGreen;
				}
			}
			div.submit-button-container {
				width: 100%;
				float: left;
				margin-top: 10px;
				text-align: right;
				& > input.site-button {
					background-color: $cobaltBlue;
					color: white;
					&:hover {
						background-color: darken($cobaltBlue, 2%);
					}
				}
			}
		} // div#add-comment-container
		div#comments-header {
			font-family: $hind;
			font-size: 1.50em;
			padding: 20px 25px 10px;
			display: none;
		} //div#comment-header
		div.comments-empty {
			width: 70%;
			margin: 0 auto;
			height: 75px;
			text-align: center;
			background-color: white;
			position: relative;
			@include box-shadow(0.3);
			span {
				height: 25px;
				display:block;
				@include vertical-align();
			}
		}
		div.comment-container {
			height: auto;
			width: 70%;
			margin: 90px auto;
			position: relative;
			@include box-shadow(0.3);
			div.user-avi {
				height: 70px;
			    width: 70px;
			    border-radius: 100%;
			    position: absolute;
			    top: -35px;
			    left: -35px;
			    background-color: white;
			    border: 1px solid #bcc;
			    img {
			    	width: 100%;
			    	height: 100%;
			    	border-radius: 100%;
			    }
			}
			div.comment-made {
				min-height: 30px;
				display: inline;
			    position: absolute;
			    left: 45px;
			    top: -30px;
			    padding-top: 8px;
			    font-size: 0.9em;
			    color: #808080;
			    font-style: italic; 
			    span.username {
			    	color: $periGreen;
			    }
			}
			div.post-container {
				padding: 20px 40px;
				background-color: #FFF;
				& > {
					p {
						margin: 0;
					}
				}
			}
		} // div.comment-container
	}
	@media screen and(max-width: $break-sm) {
		div#information-section {
			div#additional-information {
				padding-right: 5px;
				div#guests {

				} //div#guests
			} //div#additional-information
		} //div#information-section
	} //div#event-show-container @media screen and(max-width: $break-sm)
	@media screen and(max-width: $break-iphone6plus) {
		padding-top: 50px;
		height: auto;
		min-height: 100vh;
		div#information-section {
			div#information {
				padding: 0;
				width: 100%;
				div.info-box {
					margin: 0 !important;
					box-shadow: none;
					border-bottom: 1px solid $cloud;
				}
				div#description {
					border-bottom: none;
				}
			} //div#information
			div#additional-information {
				padding: 0;
				div#guests {
					box-shadow: none;
					padding: 10px 0;

					div#guests-header {
						padding-bottom: 10px;
						height: auto;
					}
					div#going-guests {
						border-right: 1.5px solid $cloud;
						border-top: 1.5px solid $cloud;
					}
					div#declined-guests {
						border-top: 1.5px solid $cloud;
					}
					div#maybe-guests {
						border-right: 1.5px solid $cloud;
						border-bottom: 1.5px solid $cloud;
						border-top: 1.5px solid $cloud;
					}
					div#invited-guests {
						border-top: 1.5px solid $cloud;
						border-bottom: 1.5px solid $cloud;
					}
				}
				div#mobile-category {
					font-size: 20px;
					text-align: center;
					background-color: white;
					font-family: "Hind", Helvetica, sans-serif;
					padding-bottom: 10px;
					display: block;
				}
				div#categories-container {
					border-top: 1px solid $cloud;
				}
				div.info-box {
					margin-bottom: 0 !important;
				}
			} //div#additional-information
		} //div#information-section
		div#comment-section {
			padding: 50px 0 25px;
			background-color: white;
			div#add-comment-container {
				width: 98%;
				div.profile-pic-container {
					width: 100%;
					height: 130px;
					div.profile-pic {
						height: 90px; 
						width: 90px;
					}
				}
				textarea#comment_post {
					width: 100%;
				}
				div.submit-button-container {
					text-align: center;
				}
			} //div#add-comment-container
			div#comments-header {
				display: block;
			} //div#comment-header
			div.comments-empty{
				box-shadow: none;
			} //div.comments-empty
			div.comment-container {
				width: 100%;
				margin: 0 auto;
				padding: 130px 0 20px;
				background-color: white;
				div.user-avi {
				    min-height: 90px;
				    min-width: 90px;
				    top: 20px;
				    left: 20px;
				}
				div.comment-made {
				    left: 110px;
    				top: 80px;
				}
				div.post-container {
					padding: 10px 20px;
				}
			} //div.add-comment-container
		} //div#comment-section
	} //div#event-show-container @media screen and(max-width: $break-iphone6plus)
} // event-show-container

// ********** events#search **********

div#search-results-container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 60px 20px 20px;
	background-color: $cloud;
	height: auto;
	overflow-y: auto;
	div#search-container {
		position: relative;
		z-index: 1;
		div#search-box {
			width: 240px; 
			height: auto;
			background-color: white;
			padding: 10px 0;
			position: fixed;
			@include box-shadow();
		}
		form {
			& > div {
				h4 {
					font-family: $hind;
    				font-size: 20px;
    				margin-bottom: 20px;
				}
				label {
					font-weight: 300;
					font-size: 14px;
					width: 175px;
					margin: 5px auto;
					text-align: left;
					position: relative;
					i {
						font-size: 6px;
						position: relative;
						@include vertical-align();
						color: $ashyRed;
					}
				}
				input {
					margin: 5px auto;
					width: 175px;
					padding-left: 5px;
					border: none;
					border: 1px solid $cloud;
					&:focus {
						outline: none;
						border: 1px solid $cobaltBlue;
					}
				}
				button.site-button {
					margin-top: 30px;
					padding: 5px;
					background-color: $periGreen;
					color: white;
				}
			}
		} //form
	} //div#search-container
	div#events-results-container {
		div#search-results {
			min-height: 300px;
			padding: 0px 0px 20px;
			padding-top: 10px;
			div#results-count {
				text-align: center;
				width: 100%;
				background-color: white;
				margin: 0 auto 10px;
				padding: 15px;
				font-size: 14px;
				@include box-shadow();
				span {
					color: $asphalt;
				}
			}
			div.event-box {
				height: 225px;
				width: 100%;
				background-color: white;
				margin: 10px auto;
				@include box-shadow();
				font-size: 1em;
				div.event-photo {
					height: 225px;
					width: 225px;
					display: inline-block;
					float: left;
					padding: 0;
				} //div#event-banner
				div.event-information {
					padding: 5px 20px;
					height: 100%;
					overflow-y: scroll;
					position: relative;
					div.event-guests {
						top: 3px;
						right: 10px;
						position: absolute;
						font-size: .9em;
						i {
							top: -1px;
							position: relative;
						}
					}
					div.event-title {
						font-size: 1.25em;
						margin: 5px 0;
						a {
							text-decoration: none;
							color: inherit;
							&:hover {
								text-decoration: underline;
							}
						}
					}
					div.event-when {
						font-size: .9em;
					}
					div.event-where {
						font-size: .9em;
						margin: 5px 0;
						min-height: 40px;
						i {
							color: $ashyRed;
						}
					}
					div.event-highlights {
						font-size: .85em;
						margin: 20px 0 0;
					}
				} //div#event-information
			} //div.event-box
			hr {
				display: none;
			}
		} //div#search-results
	} //div#events-results-container
	@media screen and (max-width: $break-sm) {
		width: 600px;
		overflow: visible;
		div#search-container {
			position: relative;
			height: auto;
			padding: 0;
			width: 100%;
			margin: 0 auto;
			float: none;
			div#search-box {
				float: none;
				width: 100%;
				height: 100%;
				padding: 10px;
				position: relative;
				margin: 0 auto;
				form {
					label {
						width: 100%;
					}
					input {
						width: 100%;
					}
				}
			} //div#search-box
		} //div#search-container
		div#events-results-container {
			width: 100%;
			margin: 0 auto;
			padding: 0;
			float: none;
			div#search-results {
				padding: 10px 0;
				width: 100%;
				div#results-count {
					width: 100%;
				} //div#results-count
				div.user-box {
					width: 100%;
					div.content {
						height: 120px;
						width: auto;
					    margin-left: 20px;
					    position: relative;
					    overflow: hidden;
					    padding-left: 10px;
					    float: none;
					} //div.content
				} //div.user-box
			} //div#search-results
		} //div#events-results-container
	} // ********** max-width: $break-sm
	@media screen and (max-width: $break-iphone6plus) {
		padding: 0;
		padding-top: 50px;
		width: 100vw;
		background-color: white;
		overflow-y: visible;
		height: auto;
		min-height: 100vh;
		div#search-container {
			height: auto;
			position: relative;
			div#search-box {
				width: 100%;
				margin: 0 auto;
				box-shadow: none;
				height: auto;
				form {
					h4 {
						font-size: 26px;
						padding: 25px;
					}
					label {
						font-size: 18px;
						width: 100%;
					}
					input {
						margin-bottom: 15px;
					}
					button {
						margin-top: 5px;
						width: 250px;
					}
				}
			} //div#search-box
		} //div#search-container
		div#events-results-container {
			margin: 0;
			margin-top: 5px;
			div#search-results {
				div.event-box {
					height: auto;
					width: 100%;
					box-shadow: none;
					position: relative;
					padding: 10px 0;
					border-bottom: 1px solid $cloud;
					a {
						display: block;
						height: auto;
						float: none;
						width: 250px;
						margin: 0 auto;
						div.event-photo {
							width: 250px;
							height: 250px;
							margin: 0 auto;
							float: none;
						}
					}
					div.event-information {
						padding: 0;
						width: 100%;
						height: auto;
						margin: 0 auto;
						float: none;
						padding: 5px 20px;
						div.event-title {
							a {
								width: 100%;
							}
						} //div.event-title
						div.event-where {
							min-height: auto;
						} //div.event-where
					}
				} //div.event-box
			}
		}
	}
} //div#search-results-container

// ********** END events#search **********

// ********** events#my_events **********
	div#my-events-container {
		max-width: 1100px;
		min-height: 200px;
		height: auto;
		margin: 0 auto;
		div#events-container {
			width: 950px;
			min-height: 200px;
			padding: 10px;
			margin: 0 auto;
			div.myevents-navigation {
				margin: 10px auto;
				width: 100%;
				background-color: white;
				padding: 10px;
				@include box-shadow(.3);
				div.header {
					font-family: $hind;
					font-size: 24px;
					text-align: center;
				}
			} //div.myevents-navigation
			div.events-empty {
				width: 100%;
				max-width: 455px;
				background-color: white;
				padding: 10px;
				text-align: center;
				margin: 0 auto;
			} // div.events-empty
			div.event-box {
				height: 225px;
				width: 455px;
				padding: 10px;
				margin: 10px 5px;
				@include box-shadow(.3);
				background-color: white;
				float: left;
				position: relative;
				font-size: 1.10em;
				a#delete-icon {
					position: absolute;
					right: 10px;
					top: 0px;
					color: $ashyRed;
					z-index: 1;
					&:hover {
						text-decoration: none;
					}
				}
				div.img {
					width: 200px;
					height: 200px;
					margin-right: 10px;
					float: left;
				}
				div.information {
					position: relative;
					height: 200px;
					overflow: hidden;
					div.event-title {
						margin-bottom: 2px;
						a.event-link {
							color: black;
							&:hover {
								text-decoration: none;
								color: $cobaltBlue;
							}
						}
					}
					div.event-date {
						font-size: .80em;
						margin-bottom: 2px;
						color: darken($cloud, 40%);
					}
					div.event-attending {
						font-size: .80em;
						margin-bottom: 10px;
						font-style: italic;
						padding-left: 1px;
					}
					div.event-description {
						font-size: .7em;
					}
					div.button-wrapper {
						position: absolute;
						width: 100%;
						bottom: -5px;
						a {
							text-decoration: none;
							&:hover {
								color: inherit;
							}
						}
						button.site-button {
							height: 22px;
							font-size: 12px;
							width: 110px;
							padding-bottom: 4px;
							color: black;
							&.invite {
								background-color: $cobaltBlue;
								border: 1px solid $cobaltBlue;
								color: white;
								&:hover {
									background-color: darken($cobaltBlue, 2%);
								}
							}
							&.edit {
								border: 1px solid darken($cloud, 40%);
								background-color: $cloud;
								&:hover {
									background-color: darken($cloud, 2%);
								}
							}
						} //button.site-button
					} //div.button-wrapper
				} //div.information
			} //div.event-box
			hr {
				display: none;
			}
		} 
		@media screen and(max-width: $break-md) {
			width: 600px;
			margin: 0 auto;
			padding: 0 20px;
			div#events-container {
				width: 100%;
				div.myevents-navigation {
					width: 100%;
				}
				div.event-box {
					float: none;
					margin: 10px auto;
					width: 100%;
					div.information {
						div.button-wrapper {
							button.site-button {
								width: 150px;
							}
						} //div.button-wrapper
					} //div.information
				}
			} //div#events-container
		} // @media screen and(max-width: $break-md)
		@media screen and(max-width: $break-iphone6plus) {
			padding: 0;
			padding-top: 25px;
			width: 100vw;
			min-height: 100vh;
			background-color: white;
			div#events-container {
				width: 100vw;
				padding: 10px 0;
				div.myevents-navigation {
					width: 100%;
					box-shadow: none;
				}
				div.event-box {
					width: 100%;
					height: auto;
					box-shadow: none;
					padding: 10px 20px;
					border-bottom: 1px solid $cloud;
					margin: 10px auto;
					div.img {
						width: 250px;
						height: 250px;
						margin: 0 auto 10px;
						display: block;
						float: none;
					}
					div.information {
						width: 100%;
						margin: 0 auto;
						float: none;
						height: auto;
						padding-bottom: 80px;
						font-size: 1.15em;
						div.event-description {
							margin-bottom: 10px;
						}
						div.button-wrapper {
							width: 100%;
							padding-bottom: 5px;
							button.site-button {
								width: 100%;
								border: none;
								margin: 0;
								height: 30px;
								&.invite {
									margin-bottom: 5px;
								}
								&.edit {
								}
							}
						}
					}
				} //div.event-box
			}
		} // @media screen and(max-width: $break-iphone6plus)
	} //div#my-events-container
// ********** END events#my_events **********

// ********** events#photo_crop **********
	div#event-photo-crop {
		background-color: white;
		max-width: 400px;
		height: auto;
		margin: 0 auto;
		padding: 40px 20px;
		div#header {
			text-align: center;
			padding: 30px;
			font-size: .8em;
		} //div#header
		div.photo-cropbox, div.photo-preview {
			max-width: 300px;
			max-height: 400px;
			margin: 0 auto;
		} //div#photo-cropbox, div.photo-preview
		div.submit {
			margin-top: 20px;
			input {
				background-color: $periGreen;
				color: white;
			}
		}
	} //div#event-photo-crop

// ********** END events#photo_crop **********

// ********** events#banner_crop **********
	div#event-banner-crop {
		background-color: white;
		max-width: 400px;
		height: auto;
		margin: 0 auto;
		padding: 40px 20px;
		div#header {
			text-align: center;
			padding: 30px;
			font-size: .8em;
		} //div#header
		div.photo-cropbox, div.photo-preview {
			max-width: 300px;
			max-height: 400px;
			margin: 0 auto;
		} //div#photo-cropbox, div.photo-preview
		div.submit {
			margin-top: 20px;
			input {
				background-color: $periGreen;
				color: white;
			}
		}
	} //div#event-banner-crop

// ********** END events#banner_crop **********