// this was the source css for guests-modal in application.css.scss
// this needs to be cleaned up to be dry from the css being used already
// TODO: Make sure all uses in this are specifically for this modal only
div#guests-modal {
	& > div.modal-dialog {
		width: 80%;
		max-width: 700px;
		& > div.modal-content {
			border-radius: 0;
			border: none;
			position: relative;
			height: 80px;
			& > button {
				position: absolute;
			}
			& > div.modal-body {
				height: 100%;
				padding: 0;
				button.close {
				    position: absolute;
				    right: 25px;
				    top: 8px;
				    z-index: 1000;
					span {
					}
				}
				img.loading {
					width: 50px;
					height: 50px;
				    margin: 0 auto;
				    @include vertical-align();
				    position: relative;
				    display: block;
				}
				div#guests-list-container {
					height: 100%;
					display: none;
					position: relative;
					div#attendance-labels-container {
						height: auto;
						border-right: 1px solid $cloud;
						border-bottom: 1px solid $cloud;
						position: absolute;
						width: 100px;
						font-size: .85em;
						top: 0;
						right: 0;
						left: 1px;
						div.bootstrap-select {
							width: 100%;
							display: none;
							button[data-id=attendance-label-select] {
								width: 100%;
								border-radius: 0;
								border: 1px solid $periGreen;
								color: white;
								background-color: $periGreen;
								height: auto;
								&:focus {
									outline: none !important;
								}
							}
							div.dropdown-menu {
								border-radius: 0;
							    top: 35px !important;
								ul {
									li {
										outline: none !important;
										a {
											&:focus {
												outline: none !important;
											}
										}
									}
								}
							}
						} //div.bootstrap-select
						div#attending-label {
							&.label-selected {
								border-right: 2px solid $periGreen;
							}
							&:hover {
								border-right: 2px solid $periGreen;
							}
						}
						div#declined-label {
							&.label-selected {
								border-right: 2px solid $ashyRed;
							}
							&:hover {
								border-right: 2px solid $ashyRed;
							}
						}
						div#maybe-label {
							&.label-selected {
								border-right: 2px solid yellow;
							}
							&:hover {
								border-right: 2px solid yellow;
							}
						}
						div#invited-label {
							&.label-selected {
								border-right: 2px solid black;
							}
							&:hover {
								border-right: 2px solid black;
							}
						}
						div.attendance-label {
							margin: 0 auto;
							padding: 5px;
							border-right: 2px solid white;
							font-size: 16px;
							font-weight: 300;
							border-top: 1px solid white;
							border-bottom: 1px solid white;
							padding-left: 10px;
							&:hover {
								cursor: pointer;
								background-color: $cloud;
							}
							&.label-selected {
								background-color: #f9f9f9;
								border-bottom: 1px solid darken($cloud, 20%);
								border-top: 1px solid darken($cloud, 20%);
							}
						}
					} // div#attendance-labels-container
					div#guests-list {
						height: 100%;
						overflow-y: scroll;
						padding: 20px 20px 0px 100px;
						div.empty-guests-category {
							padding-top: 20px;
							text-align: center;
							font-size: 14px;
						}
						div.guest {
							float: left;
							img.guest-img {
							    width: 80px;
							    height: 80px;
							    display: block;
							    margin: 0 auto;
							    border-radius: 100%;
							    border: 1px solid #e5e5e5;
							}
							div.guest-username {
								width: 120px;
								text-align: center;
								margin: 5px auto;
							}
						}
					} // div#guests-list
				} //div#guests-list-container
			} // div.modal-body
		} //div.modal-content
	} // div.modal-dialog
	@media screen and (max-width:  $break-sm) {
		& > div.modal-dialog {
			margin: 0 auto;
    		top: 20px;
			& > div.modal-content {
				& > div.modal-body {
					div#guests-list-container {
						div#attendance-labels-container {
							div.bootstrap-select {

							}
						}
						div#guests-list {
							padding: 20px 20px 0px 100px;
						}
					}
				}
			}
		}
	} // div#guests-modal max-width: $break-sm
	@media screen and (max-width: $break-iphone6plus) {
		& > div.modal-dialog {
			top: 0;
			margin: 0 auto;
		    width: 100%;
			& > div.modal-content {
				height: 100vh !important;
				top: 0;
				& > div.modal-body {
					div#guests-list-container {
						padding-top: 50px;
						div#attendance-labels-container {
							width: 200px;
							height: 50px;
							margin: 10px auto;
							border: none;
							div.bootstrap-select {
								display: block;
							}
							div.attendance-label {
								display: none;
							}
						}
						div#guests-list {
							width: 100%;
							margin: 0 auto;
							padding: 30px 0px 0px;
							div.guest {
								width: 150px;
								margin: 15px auto;
								float: none;
								img.guest-img {
									width: 100px;
									height: 100px;
								}
							}
						}
					}
				}
			}
		}
	} // div#guests-modal max-width: $break-sm
} //div#guests-modal