// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ********** items#show **********

div#items-show-container {
	width: 100vw;
	max-width: 785px;
	margin: 0 auto;
	height: auto;
	@include banner-overlay();
	div#information-section {
		position: relative;
		height: auto;
		width: 100%;
		background-color: $cloud;
		overflow: visible;
		padding: 20px 0;
		div.info-box {
			background-color: #FFF;
			margin: 0 auto;
			position: relative;
			@include box-shadow(.3);
			& >i {
				color: $periGreen;
				font-size: 18px;
				position: absolute;
				left: 15px;
			}
		}
		div#overview-container {
			height: 500px;
			height: auto;
			padding-left: 0;
			padding-right: 5px;
			div#items-container {
				height: auto;
				width: 100%;
				margin: 0 auto 10px;
				background-color: #FFF;
				text-align: center;
				padding: 10px;
				div#items-header {
					margin: 0 0 10px 0;
					text-align: center;
					font-weight: bold;
					font-size: 1.25em;
					height: 25px;
					font-family: $hind;
				}
				& > a {
					div.item {
						margin: 3px auto;
						padding-left: 50px;
						text-align: left;
						position: relative;
						&.additional {
							display: none;
						}
					}
				}
			}
			@include categories-container();
		} //div#overview-container
		div#item-container {
			height: 500px;
			padding-left: 5px;
			padding-right: 0;
			div#item {
				height: auto;
				width: 100%;
				margin: 0 auto;
				background-color: #FFF;
				padding: 10px;
				div#item-header {
					font-size: 1.75em;
    				text-align: center;
    				font-family: $hind;
    				font-weight: bold;
    				margin-bottom: 5px;
    				text-align: left;
    				padding-left: 10px;
    				span.brought-by {
    					font-size: .60em;
    					// font-style: italic;
    					// font-weight: normal;
    				}
				}
				div#item-description {
					padding-left: 10px;
					margin-bottom: 20px;
					font-size: .9em;
					span {

					}
				}
			}
			a#bring-item {
				&:hover {
					text-decoration: none;
					
				}
				button.site-button {
					width: 100%;
					margin: 10px auto;
					display: block;
					background-color: $periGreen;
					text-align: center;
					color: #FFF;
				}
			}
		} //div#category-container
		// ********** div#information-section max-width: $break-sm **********
		@media screen and(max-width: $break-sm) {
			div#overview-container {
				padding: 0;
				width: 98%;
				margin: 0 auto;
				div#items-container {
					& > a {
						div.item {
							width: 50%;
							margin: 0 auto;
						}
					}
				} //div#items-container
			} //div#overview-container
			div#item-container {
				padding: 0;
				width: 98%;
				margin: 0 auto;
			}
		} // media screen max-width: $break-sm
		// ********** div#information-section max-width: $break-iphone6plus **********
		@media screen and(max-width: $break-iphone6plus) {
			padding-top: 0; 
			background-color: white;
			div#overview-container {
				width: 100%;
				box-shadow: none;
				div#categories-container {
					border-top: 2px solid $cloud;
					border-bottom: 2px solid $cloud;
				}
				div#items-container {
					height: 60px;
					padding: 0;
					position: relative;
					width: 100vw;
					margin: 0;
					border-bottom: 2px solid $cloud;
					&.empty {
						padding-top: 10px;
						background-color: red;
					}
					@include hori-scroll-wrapper();
					div#items-header {
						display: none;
					}
					& > a {
						&:hover {
							text-decoration: none;
						}
						div.item {
							width: auto;
							font-size: 1.1em;
							color: black;
							height: 60px;
							display: inline-block;
							padding: 0 20px 0;
							text-align: center;
							border-right: 1px solid $cloud;
							margin-right: -4px;
							cursor: pointer;
							position: relative;
							i {
								display: none;
							}
							&.selected {
								background-color: $cobaltBlue;
								color: white;
							}
							&.additional {
								display: inline-block;
							}
							span.item-title {
								display: block;
								@include vertical-align();
							}
						}
					}
				} //div#items-container
			} //div#overview-container
			div#item-container {
				width: 100%;
				div#item {
					box-shadow: none;
				}
				button.site-button {
					width: 98%;
					position: relative;
					left: 1px;
				}
			} //div#item-container
		}
	} //div#information-section
	@media screen and (max-width: $break-iphone6plus) {
		padding-top: 0px;
	}
} //div#items-show-container

// ********** items#new **********
div#new-item-container {
	width: 100vw;
	max-width: 500px;
	margin: 10px auto;
	@include banner-overlay();
	button#invite-guests {
		display: none;
	}
	div#item-for {
		font-size: 1.5em;
		margin: 0px auto 10px;
		font-family: $hind;
		width: 80%;
	}
	div#form-container {
		@include box-shadow(.3);
		width: 100%;
		height: auto;
		background-color: white;
		padding: 20px 10px;
		div#input-container {
			width: 80%;
			margin: 0 auto;
			text-align: center;
			div.input-box {
				text-align: left;
				label {
					font-weight: 200;
				}
				textarea, input {
					border: none;
					border: 1px solid white;
					border-bottom: 1px solid $cloud;
					margin-bottom: 10px;
					color: $asphalt;
					padding-top: 3px;
					padding-bottom: 3px;
					padding-left: 3px;
					width: 100%;
					&:focus {
						outline: none;
						border: 1px solid $cobaltBlue;
					}
				}
				textarea#item_description {
					height: 100px;
					border: 1px solid $cloud;
					padding: 10px;
					&:focus {
						border: 1px solid $cobaltBlue;
					}
				}
			} //div.input-box
			.site-button {
				color: white;
				background-color: $periGreen;
				border-radius: 0;
				&:hover {
					background-color: lighten($periGreen, 2%);
				}
			}
		} // div#input-container
	} //div#form-container
}

// ********** item#my_items **********
	div#my-items-container {
		max-width: 990px;
		min-height: 200px;
		height: auto;
		margin: 0 auto;
		div#items-container {
			width: 100%;
			min-height: 200px;
			padding: 10px;
			div.items-header {
				margin: 10px auto;
				width: 940px;
				background-color: white;
				padding: 10px;
				@include box-shadow(.3);
				div.header {
					font-family: $hind;
					font-size: 24px;
					text-align: center;
				}
			} //div.items-header
			div.items-empty {
				width: 100%;
				max-width: 455px;
				background-color: white;
				padding: 10px;
				text-align: center;
				margin: 0 auto;
			} // div.items-empty
			div.item-box {
				height: 330px;
				width: 455px;
				padding: 10px;
				margin: 10px 15px;
				@include box-shadow(.3);
				background-color: white;
				float: left;
				position: relative;
				a#delete-icon {
					position: absolute;
					right: 10px;
					top: 0px;
					color: $ashyRed;
					z-index: 1;
					&:hover {
						text-decoration: none;
					}
				}
				div.information {
					position: relative;
				    width: 100%;
				    height: 220px;
				    padding: 0px 0 10px;
					div.item-title {
						font-size: 1.25em;
						margin-bottom: 2px;
						a.item-link {
							color: black;
							&:hover {
								text-decoration: none;
								color: $cobaltBlue;
							}
						}
					}
					div.item-date {
						font-size: .80em;
						margin-bottom: 2px;
						color: darken($cloud, 40%);
					}
					div.item-category {
						font-size: .9em;
					}
					div.item-description {
						font-size: .75em;
						margin-top: 10px;
						height: 90px;
					}
					div.button-wrapper {
						position: absolute;
						width: 120px;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;
						a {
							text-decoration: none;
							&:hover {
								color: inherit;
							}
						}
						button.site-button {
							height: 22px;
							font-size: 12px;
							width: 120px;
							padding-bottom: 4px;
							color: black;
							&.invite {
								background-color: $cobaltBlue;
								border: 1px solid $cobaltBlue;
								color: white;
								&:hover {
									background-color: darken($cobaltBlue, 2%);
								}
							}
							&.edit {
								border: 1px solid darken($cloud, 40%);
								background-color: $cloud;
								&:hover {
									background-color: darken($cloud, 2%);
								}
							}
						} //button.site-button
					} //div.button-wrapper
				} //div.information
				div.event-information {
					border-top: 2px dotted $cloud;
					height: 100px;
					width: 100%;
					padding: 10px 0;
					position: relative;
					div.img {
						width: 80px;
						height: 80px;
						margin-right: 10px;
						float: left;
						display: block;
					}
					div.information {
						overflow: hidden;
						width: auto;
						padding: 0;
						height: 100%;
						padding-left: 1px;
						div.event-title {
							font-size: 1.1em;
							padding-top: 3px;
							a {
								color: inherit;
								&:hover {
									text-decoration: none;
								}
							}
						}
						div.event-where {
							font-size: .9em;
							margin-bottom: 3px;
							i {
								color: $ashyRed;
								font-size: 12px;
							}
						}
						div.event-attending {
							font-size: .80em;
							margin-bottom: 15px;
							font-style: italic;
						}
					} //div.information
				} //div.event-information
			} //div.item-box
			hr {
				display: none;
			}
		} 
		@media screen and(max-width: $break-md) {
			div#items-container {
				div.items-header {
					width: 455px;
				}
				div.item-box {
					float: none;
					margin: 10px auto;
				}
			}
		} // @media screen and(max-width: $break-md)
		@media screen and(max-width: $break-iphone6plus) {
			div#items-container {
				background-color: white;
				width: 100vw;
				div.items-header {
					width: 100%;
					box-shadow: none;
				}
				div.item-box {
					width: 100%;
					height: auto;
					box-shadow: none;
					div.img {
						width: 250px;
						height: 250px;
						margin: 0 auto 10px;
						display: block;
						float: none;
					}
					div.information {
						width: 100%;
						font-size: 1.15em;
						margin: 0 auto;
						float: none;
						height: auto;
						padding-bottom: 65px;
						div.item-description {
							margin-bottom: 10px;
							height: 125px;
						}
						div.button-wrapper {
							width: 100%;
							button.site-button {
								width: 100%;
								border: none;
								margin: 0;
								height: 30px;
								&.invite {
									margin-bottom: 5px;
								}
								&.edit {
								}
							}
						}
					}
				} //div.item-box
				hr {
					display: block;
					border-top: 1px solid $asphalt;
				}
			}
		} // @media screen and(max-width: $break-iphone6plus)
	} //div#my-items-container
// ********** END item#my_events **********

// ********** items#edit **********
div#edit-item-container {
	width: 100vw;
	max-width: 500px;
	margin: 10px auto;
	@include banner-overlay();
	button#invite-guests {
		display: none;
	}
	div#item-for {
		font-size: 1.5em;
		margin: 0px auto 10px;
		font-family: $hind;
		width: 80%;
	}
	div#form-container {
		@include box-shadow(.3);
		width: 100%;
		height: auto;
		background-color: white;
		padding: 20px 10px;
		div#input-container {
			width: 80%;
			margin: 0 auto;
			text-align: center;
			div.input-box {
				text-align: left;
				label {
					font-weight: 200;
				}
				textarea, input {
					border: none;
					border: 1px solid white;
					border-bottom: 1px solid $cloud;
					margin-bottom: 10px;
					color: $asphalt;
					padding-top: 3px;
					padding-bottom: 3px;
					padding-left: 3px;
					width: 100%;
					&:focus {
						outline: none;
						border: 1px solid $cobaltBlue;
					}
				}
				textarea#item_description {
					height: 100px;
					border: 1px solid $cloud;
					padding: 10px;
					&:focus {
						border: 1px solid $cobaltBlue;
					}
				}
			} //div.input-box
			.site-button {
				color: white;
				background-color: $periGreen;
				border-radius: 0;
				&:hover {
					background-color: lighten($periGreen, 2%);
				}
			}
		} // div#input-container
	} //div#form-container
}
// ********** items#edit END **********