nav.navbar-xs { 
	min-height:22px; 
	border-radius: 0;
	padding: 2px 75px;
	background-color: white;
	// border-bottom: 1px solid $asphalt;
	@include box-shadow();
	border: none;
	margin-bottom: 0;
	& li {
		height: 22px;
	}
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    padding-bottom: 9px;
}

.navbar-xs .navbar-brand { 
	padding: 2px;
	font-family: $mainHeader;
	color: $asphalt;
	font-size: 1.25em;
	line-height: 14px;
	height: 22px;
	position: relative;
	width: 100px;
	& > span {
		position: fixed;
		height: 22px;
		width: 100px;
	    top: 0px;
	    & > span {
	    	display: inline-block;
	    	&.logo {
	    		background-color: white;
	    		width: 100%;
	    		height: 18px;
	    		top: 5px;
	    		position: relative;
			    font-size: .9em;
	    	}
	    }
	    i {
	    	position: absolute;
    		bottom: 4px;
    		left: 4px;
	    	color: $periGreen;
	    	display: none;
	    }
	}
} 
.navbar-xs .navbar-nav > li > a { 
	padding-top: 2px; 
	padding-bottom: 2px; 
	line-height: 14px;
	height: 100%;
	position: relative;
	color: $cobaltBlue;
	&:hover {
		// color: $periGreen !important;
		// border-bottom: 1px solid $cobaltBlue;
		& i.plus-icon {
			color: $ashyRed !important;
		}
		& i.fa-caret-down {
			color: $asphalt !important;
		}
	}
	& i {
		&#new-event-icon {
			padding-top: 1px !important;
		}
		&.plus-icon {
			position: absolute;
		    font-size: .6em;
		    right: 7px;
		    top: 0px;
		    color: $ashyRed;
		}
		&.fa-caret-down {
			color: $asphalt;
		}
	}
}

li.side-divide {
	height: 18px;
    top: 50%;
    width: 1px;
    transform: translateY(-55%);
    border-right: 1px solid $asphalt;
}
.navbar-right {
	height: 22px;
	padding-top: 2px;

}