// ********** notification#my_notifications **********
	div#my-notifications-container {
		max-width: 600px;
		min-height: 200px;
		height: auto;
		margin: 0 auto;
		div#notifications-container {
			width: 100%;
			height: auto;
			padding: 10px;
			background-color: white;
			height: auto;
			position: relative;
			div#notifications-header {
				width: 100%;
				padding: 10px;
				padding-left: 10px;
				margin: 0 auto 30px;
				font-family: $hind;
				font-size: 1.25em;
				background-color: white;
				position: relative;
				&.empty {
					margin: 0 auto;
					padding: 10px 15px 10px;
				}
				div#notifications-options {
					display: inline-block;
					position: absolute;
					right: 0;
					border: 1px solid darken($cloud, 10%);
					font-size: .80rem;
					font-family: Helvetica;
					height: 28px;
					&:hover {
					}
					button.default-option {
						display: inline-block;
						float: left;
						border: none;
						border-right: 1px solid darken($cloud, 10%);
						padding: 2px 8px;
						height: 100%;
						background-color: darken($cloud, 2%);
						&:hover {
							background-color: lighten($cloud, 1%);
						}
						&:active {
							@include button-shadow();
						}
						&:focus {
							outline: none;
						}
					}
					div.dropdown {
						float: left;
						display: inline-block;
						height: 100%;
						button {
							height: 100%;
							padding: 2px 8px !important;
							border-radius: 0 !important;
							border: none;
							font-size: .8rem;
							background-color: darken($cloud, 2%) !important;
							&:hover {
								background-color: lighten($cloud, 1%) !important;
							}
							&:focus {
								background-color: lighten($cloud, 1%) !important;
								outline: none;
							}
						}
						div.dropdown-menu {
							left: -109px;
						}
					} //div.dropdown
				} //div#notifications-options
			} //div#notifications-header
			div.notifications-empty {
				width: 100%;
			    height: 30px;
			    font-size: .9em;
			    text-align: center;
			    max-width: 500px;
			    margin: 0 auto;
			}
			div.notification-box {
				height: 150px;
				width: 100%;
				padding: 0px;
				margin: 5px auto;
				background-color: white;
				position: relative;
				div.mark-box {
					float: left;
					width: 50px;
					height: 100%;
					position: relative;
					z-index: 100;
					input {
						width: 30px;
						height: 30px;
						@include vertical-align();
						margin: 0 auto;
						display: block;
						&:hover {
							cursor: pointer;
						}
					}
				}
				div.information {
					position: relative;
					height: 100%;
					border-bottom: 1px solid darken($cloud, 5%);
					div.img {
						width: 80px;
						height: 80px;
						margin-right: 10px;
						border-radius: 100%;
						border: 1px solid $cloud;
						float: left;
						@include vertical-align();
					} //div.img
					div.notification-message {
						float: left;
						position: relative;
						font-size: .85em;
						@include vertical-align();
					}
					div.notification-icon {
						right: 5px;
						top: 5px;
						position: absolute;
						&.friend_request {
							color: $cobaltBlue;
						}
						&.friend_accepted {
							color: $periGreen;
						}
						&.invitation_request {
							color: $asphalt;
						} //invitation_request
					} //div.notification-icon
					div.notification-action-wrapper {
						div.action-wrapper {
							display: inline-block;
							background-color: darken($cloud, 5%);
							border: 1px solid darken($cloud, 10%);
							font-size: .8em;
							padding: 0;
							position: absolute;
							right: 1px;
							bottom: 5px;
							height: 23px;
							&:hover {
								cursor: pointer;
							}
							button.notification-action {
								border: none;
								border-right: 1px solid darken($cloud, 10%);
								height: 100%;
								display: inline-block;
								padding: 2px 8px;
								float: left;
								background-color: darken($cloud, 2%) !important;
								&:hover {
									background-color: lighten($cloud, 1%) !important;
								}
								&:active {
									@include button-shadow();
								}
								&:focus {
									background-color: lighten($cloud, 1%) !important;
									outline: none;
								}
							}
							div.dropdown {
								float: left;
								display: inline-block;
								height: 100%;
								button {
									background-color: darken($cloud, 2%) !important;
									border-radius: 0% !important;
									border: none;
									display: inline-block;
									padding: 2px 8px;
									font-size: .85em;
									height: 100%;
									&:hover {
										background-color: lighten($cloud, 1%) !important;
									}
									&:focus {
										background-color: lighten($cloud, 1%) !important;
										outline: none;
									}
								}
								div.dropdown-menu {
									min-width: 120px !important;
									width: 120px !important;
									&.friend_request,
									&.invitation_request {
										left: -59px;
									}
								}
							} //div.dropdown
						}
					} //div.notification-action-wrapper
				} //div.information
			} //div.event-box
			hr {
				display: none;
			}
		} 
		@media screen and(max-width: $break-sm) {
			div#notifications-container {
				div.notifications-empty {
					padding-top: 10px;
					height: 40px;
				}
				div.notification-box {
					float: none;
					margin: 10px auto;
				}
			}
		} // @media screen and(max-width: $break-md)
		@media screen and(max-width: $break-iphone6plus) {
			margin: 0;
			width: 100vw;
			height: 100vh;
			background-color: white;
			div#notifications-container {
				background-color: white;
				width: 100vw;
				div#notifications-header {
					width: 100%;
					div#notifications-options {
						div.dropdown {
							div.dropdown-menu {
								left: -136px;
							} //div.dropdown-menu
						}
					} //div#notifications-options
				} //div#notifcations-header
				div.notification-box {
					width: 100%;
					height: 175px;
					box-shadow: none;
					position: relative;
					div.mark-box {
						width: 30px;
						height: 100%;
						input {
							width: 15px;
							height: 15px;
						}
					}
					div.information {
						width: auto;
						margin: 0 auto;
						float: none;
						overflow: visible;
						height: 100%;
						padding: 30px 0;
						div.img {
							width: 80px;
							height: 80px;
							display: block;
							margin: 0 10px;
							float: left;
						}
						div.notification-message {
							float: none;
							width: auto;
							overflow: hidden;
							height: auto;
							max-height: 100%;
						}
						div.notification-action-wrapper {
						div.action-wrapper {
							button.notification-action {
							}
							div.dropdown {
								position: static;
								button {
								}
								div.dropdown-menu {
									min-width: 120px !important;
									width: 120px !important;
									&.friend_request,
									&.invitation_request {
										left: -60px;
									}
								}
							} //div.dropdown
						}
					} //div.notification-action-wrapper
					} //div.information
				} //div.notification-box
			}
		} // @media screen and(max-width: $break-iphone6plus)
	} //div#my-notifications-container
// ********** END notification#my_notifications **********