// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#home-notifications {
	position: absolute;
	right: 100px;
	top: 40px;
	border: 1px dotted black;
	width: 250px;
	min-height: 50px;
	max-height: 250px;
	overflow: visible;
	padding: 10px;
	background-color: white;
	div.notification-wrapper {
		position: relative;
		div.icon-wrapper {
			position: absolute;
			right: -20px;
			top: -20px;
			background-color: white;
			height: 16px;
		    width: 16px;
	    	border-radius: 20px;
			i {
				font-size: 1.5em;
				top: -2px;
			    position: relative;
			    left: -1px;
			    display: block;
			}
		}
	}
	@media screen and(max-width: $break-sm) {
		top: 65px;
	}
	@media screen and(max-width: $break-iphone6plus) {
		margin-right: auto;
		margin-left: auto;
		right: 0;
		left: 0;
		top: 100px;
		z-index: 100;
	}
} //div#home-notifications

// ********** event#search **********
div#user-search-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 20px 20px;
    height: auto;
    overflow-y: auto;
	div#search-container {
		position: relative;
		z-index: 1;
		div#search-box {
			width: 240px; 
			height: 210px;
			background-color: white;
			padding: 10px 0;
			position: fixed;
			margin: 0 auto;
			@include box-shadow();
		}
		form {
			& > div {
				h4 {
					margin-bottom: 20px;
					font-family: "Hind", Helvetica, sans-serif;
    				font-size: 20px;
				}
				input {
					margin: 5px auto;
					width: 175px;
					padding-left: 5px;
					border: none;
					border-bottom: 1px solid $cloud;
					&:focus {
						outline: none;
						border-bottom: 1px solid $cobaltBlue;
					}
				}
				button.site-button {
					margin-top: 30px;
					background-color: $periGreen;
					color: white;
					padding: 5px 16px;
				}
			}
		} //form
	} //div#search-container
	div#users-results-container {
		div#search-results {
			min-height: 300px;
			padding: 0px 0px 20px;
			padding-top: 10px;
			div#results-count {
				text-align: center;
				width: 500px;
				background-color: white;
				margin: 0 auto 10px;
				padding: 15px;
				font-size: 14px;
				span {
					color: $asphalt;
				}
			}
			div.user-box {
				height: auto;
				// width: 100%;
				background-color: white;
				margin: 0 auto;
				border-bottom: 1px solid $cloud;
				width: 500px;
				padding: 10px;
				img.avi {
				    width: 130px;
				    height: 130px;
				    display: block;
				    margin: 0;
				    border-radius: 100%;
				    border: 1px solid #e5e5e5;
				    float: left;
				} //img.avi
				div.content {
					height: 120px;
					margin-left: 20px;
					width: 300px;
					float: left;
					position: relative;
					span {
						display: inline-block;
					}
					span.username {
						font-size: 1.30em;
					}
					span.from {
						font-size: .9em;
					}
					span.bio {
						margin-top: 15px;
						font-size: .9em;
					}
					div.friendship, button.site-button {
						background-color: #FFF;
						height: 25px;
						width: 80px;
						margin: 0;
						font-size: .85em;
						color: $periGreen;
						border: 1px solid darken($cloud, 5%);
						position: absolute;
						top: 0px;
						right: 1px;
						&:hover {
							background-color: $periGreen;
							color: white;
							border: 1px solid #FFF;
						}
						&.is-friends {
							&:hover {
								background-color: white;
								color: $periGreen;
								border: 1px solid darken($cloud, 5%);
							}
						}
					}
					div.friendship {
						text-align: center;
						padding-top: 3px;
						&.friendship-pending {
							background-color: lighten($cloud, 2%);
							color: $asphalt;
							border: 1px solid darken($cloud, 5%);
							&:hover {
								border: 1px solid lighten($cloud, 2%);
								cursor: pointer;
							}
						}
					}
				}
			} //div.user-box
			hr {
				display: none;
			}
		} //div#search-results
	} //div#users-results-container
} //div#user-search-container
// ********** user#search END **********