// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#stickerContainer {
	font-family: $sticker;
	font-size: 180px;
	position: relative;
	color: #B83EB8;
	div {
		position: absolute;
		&.one {
			right: 750px;
			top: 750px;
			text-shadow: -4px 6px 3px black;
		}
		&.two {
			right: 1000px;
			top: 1000px;
			text-shadow: -4px 6px 3px black;
		}
	}
}

img#sticker {
	display: block;
	margin: 200px auto;
}


div.welcome-container {
	background-color: $periGreen;
	position: absolute;
	// top: -45px;
	right: 0;
	height: 100vh;
	width: 100%;
	padding: 0 15px;
	div.row {
		height: 100%;
		position: relative;
	}
	div.header-container {
		display: block;
		top: 40%;
		transform: translateY(-40%);
		position: relative;
		width: 600px;
		margin: 0 auto;
		color: white;
		// @media screen and (min-width: $break-lg) {
		// 	width: 500px;
		// }
		div.icon-container {
			margin: 0 auto;
			width: 102px;
			height: 102px;
			position: relative;
			border-radius: 100%;
			div.icon {
				width: 101px;
				height: 101px;
				background: white;
				border-radius: 100%;
			}
			i {
				position: absolute;
				top: 27px;
    			right: 22px;
    			color: #4095F8;
			}
		}
	}
	h1.header {
		font-size: 110px;
		font-family: $mainHeader;
	}
	.sub-header {
		font-size: 1.15em;
	}
	div.button-container {
		text-align: center;
		margin: 50px auto;
		button {
			width: 175px;
			margin: 5px 0;
			border: none;
			border-radius: 1px;
			background-color: white;
			color: $cobaltBlue;
			&:hover {
				background-color: $cloud;
			}
			&.login {
				// background-color: $ashyRed;
			}
			&.signup {
				// background-color: $sandOrange;
			}
		}
	}
}